{{#if flavor}}<span class="flavor-text">{{flavor}}</span>{{/if}}
<div>
    {{{lootlist}}}
</div>
<div>
    <button class="buttonclick" data-buttontype="buttonloot">
        {{localize "SW25.Monster.Loot"}}{{localize "SW25.Check"}}
        {{#if lootCount}}({{lootCount}} {{localize "SW25.Use"}}){{/if}}
    </button>
</div>
