{{#if flavor}}<span class="flavor-text">{{{flavor}}}</span>{{/if}}
{{#if (eq apply "custom")}}
<div>
    <div class="flexrow">
        {{#each checktype as |type|}}
        {{#unless (eq type "")}}
            <button class="buttonclick" data-buttontype="button{{type}}all" style="font-size:0.6em;">
                <span style="color: {{#if (or (eq type "hr") (eq type "mr"))}}#0f6f0f{{else}}#862020{{/if}};">✔</span>
                {{localize (concat "SW25.Item." type)}}
            </button>
        {{/unless}}
        {{/each}}
        {{#each powertype as |type|}}
            {{#unless (eq type "")}}
            <button class="buttonclick" data-buttontype="button{{type}}all" style="font-size:0.6em;">
                <span style="color: {{#if (or (eq type "hr") (eq type "mr"))}}#0f6f0f{{else}}#862020{{/if}};">✔</span>
                {{localize (concat "SW25.Item." type)}}
            </button>
            {{/unless}}
        {{/each}}
    </div>
</div>
{{/if}}
{{#if (eq apply "on")}}
<div>
    <div class="flexrow">
        <button class="buttonclick" data-buttontype="buttonpdall" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.pd"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmdall" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.md"}}
        </button>
        <button class="buttonclick" data-buttontype="buttoncdall" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.cd"}}
        </button>
        <span></span>
        <button class="buttonclick" data-buttontype="buttonhrall" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.hr"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmrall" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.mr"}}
        </button>
    </div>
</div>
{{/if}}
