<div class="dice-roll">
    {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
    </div>
</div>
<div class="dice-roll" style="margin-top: 0px;">
    <div class="diceresult-apply">
        <h4 class="dice-total diceresult-apply" style="flex-grow: 1">
            <span class="buttonclick quantitychange" data-buttontype="checkdecrease">&nbsp;-&nbsp;</span>
            {{#if critical}} <span class="success">{{localize "SW25.Critical"}} ▶ </span>{{/if}}
            {{#if fumble}} <span class="failed">{{localize "SW25.Fumble"}} ▶ </span>{{/if}}
            {{#if chatLootItem}}<span style="font-size:0.7em;">{{/if}}
            {{{resultText}}}
            {{{total}}}
            {{#if chatLootItem}}: </span><span class="success">{{chatLootItem}}</span>{{/if}}
            <span class="buttonclick quantitychange" data-buttontype="checkincrease">&nbsp;+&nbsp;</span>
        </h4>
        {{#if (eq apply "on")}}
        <div class="result-change">
            <button class="buttonclick half-button" data-buttontype="checkhalf">
                {{#if halfdone}}<span style="color: #0f6f0f; font-size: 0.7em;">✔</span>{{/if}}<span style="font-size: 0.7em;">{{localize "SW25.Item.Halfpow"}}</span>
            </button>
        </div>
        {{/if}}
    </div>
</div>
{{#if (eq apply "on")}}
<div>
    <div class="flexrow">
        <button class="buttonclick" data-buttontype="buttonpd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.pd"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.md"}}
        </button>
        <button class="buttonclick" data-buttontype="buttoncd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.cd"}}
        </button>
        <span></span>
        <button class="buttonclick" data-buttontype="buttonhr" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.hr"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmr" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.mr"}}
        </button>
    </div>
</div>
{{/if}}
{{!--
{{#if (eq spell "on")}}
<div class="flexrow flex-group-center">
    <div>{{localize "SW25.Mp"}}{{localize "SW25.Cost"}}<input style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.attributes.mpcost" value="{{system.attributes.mpcost}}" data-dtype="Number"/></div>
    <div><button class="buttonclick" data-buttontype="buttonmp">{{localize "SW25.Mp"}}{{localize "SW25.Use"}}</button></div>
</div>
{{/if}}
--}}
