<strong>{{message}}</strong><br>
{{difficulty}}{{#if targetValue}}:{{targetValue}}{{/if}}<br>
<hr>
<div><button class="buttonclick" data-buttontype="buttonrollreq">{{checkName}} {{localize "SW25.Check"}} {{#if mod}}({{mod}}){{/if}}</button></div>
