<div class="dice-roll" data-action="expandRoll">
    {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
    {{#if targetName}}<div class="dice-flavor">{{{targetName}}}</div>{{/if}}
    {{#if tags}}
    <div class="element-tags">
        {{#if tags.condition}}
        <div class="element-condition">{{localize (concat "SW25.Effect.Chat." tags.condition)}}</div>
        {{/if}}        
        {{#each tags.elements.magic}}
        <div class="element-tag el-{{key}}">{{localize (concat "SW25.Effect.Chat." key)}}{{#if pd}}[{{localize "SW25.Item.pd"}}:{{pd}}]{{/if}}{{#if md}}[{{localize "SW25.Item.md"}}:{{md}}]{{/if}}</div>
        {{/each}}
        {{#each tags.elements.physical}}
        <div class="element-tag el-{{key}}">{{localize (concat "SW25.Effect.Chat." key)}}{{#if pd}}[{{localize "SW25.Item.pd"}}:{{pd}}]{{/if}}{{#if md}}[{{localize "SW25.Item.md"}}:{{md}}]{{/if}}</div>
        {{/each}}
        {{#each tags.classType}}
        <div class="element-tag el-{{key}}">{{localize (concat "SW25.Effect.Chat." key)}}{{#if pd}}[{{localize "SW25.Item.pd"}}:{{pd}}]{{/if}}{{#if md}}[{{localize "SW25.Item.md"}}:{{md}}]{{/if}}</div>
        {{/each}}
    </div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{localize "SW25.Item.Power"}}:{{power}}</span>
                            {{#if lethalTech}}<span class="part-flavor"> {{localize "SW25.Item.Lethaltech"}}:{{lethalTech}}</span>{{/if}}
                            {{#if criticalRay}}<span class="part-flavor"> {{localize "SW25.Item.Criticalray"}}:{{criticalRay}}</span>{{/if}}
                            {{#if pharmTool}}<span class="part-flavor"> {{localize "SW25.Item.Pharmtool"}}:{{pharmTool}}</span>{{/if}}
                            {{#if powup}}<span class="part-flavor"> {{localize "SW25.Item.Powup"}}:{{powup}}</span>{{/if}}
                            <span class="part-total">{{results}}</span>
                            <span class="part-flavor">+{{mod}}</span>
                            {{#if half}}<span class="part-flavor"> {{localize "SW25.Item.Halfpow"}}:{{half}}</span>{{/if}}
                        </header>
                        <ol class="dice-rolls">
                            {{#each result as |powerResult|}}
                            <li class="roll die d20">{{powerResult}}</li>
                            {{/each}}
                        </ol>
                    </div>
                </section>
                <div class="flexrow">
                    {{#if shownoc}}
                    <button class="buttonclick" data-buttontype="buttonhalfc">
                        {{#if halfcdone}}<span style="color: #0f6f0f;">✔</span>{{/if}}<span style="font-size: 0.8em;">{{localize "SW25.Item.HalfpowC"}}</span>
                    </button>
                    <button class="buttonclick" data-buttontype="buttonnoc">
                        {{#if nocdone}}<span style="color: #0f6f0f;">✔</span>{{/if}}<span style="font-size: 0.8em;">{{localize "SW25.Item.Noc"}}</span>
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="diceresult" style="margin-top: 0px;">
    <div class="diceresult-apply">
        <h4 class="dice-total diceresult-apply" style="flex-grow: 1">
            <span class="buttonclick quantitychange" data-buttontype="buttondecrease">&nbsp;-&nbsp;</span>
            <span class="diceresult-total">
                {{#if extraRoll}} <span style="color: #0f6f0f; font-size:0.7em;">{{extraRoll}}{{localize "SW25.Extraroll"}} ▶ </span>{{/if}}
                {{#if fumble}} <span style="color: #862020; font-size:0.7em;">{{localize "SW25.Fumble"}} ▶ </span>{{/if}}
                {{{total}}}
            </span>
            <span class="buttonclick quantitychange" data-buttontype="buttonincrease">&nbsp;+&nbsp;</span>
        </h4>
        {{#if showhalf}}
        <div class="result-change">
            <button class="buttonclick half-button" data-buttontype="buttonhalf">
                {{#if halfdone}}<span style="color: #0f6f0f; font-size: 0.7em;">✔</span>{{/if}}<span style="font-size: 0.7em;">{{localize "SW25.Item.Halfpow"}}</span>
            </button>
        </div>
        {{/if}}
    </div>
</div>
{{#if (eq apply "custom")}}
<div>
    <div class="flexrow">
        {{#each powertype as |type|}}
            {{#unless (eq type "")}}
            <button class="buttonclick" data-buttontype="button{{type}}" style="font-size:0.6em;">
                <span style="color: {{#if (or (eq type "hr") (eq type "mr"))}}#0f6f0f{{else}}#862020{{/if}};">✔</span>
                {{localize (concat "SW25.Item." type)}}
            </button>
            {{/unless}}
        {{/each}}
    </div>
</div>
{{/if}}
{{#if (eq apply "on")}}
<div>
    <div class="flexrow">
        <button class="buttonclick" data-buttontype="buttonpd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.pd"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.md"}}
        </button>
        <button class="buttonclick" data-buttontype="buttoncd" style="font-size:0.6em;">
            <span style="color: #862020;">✔</span>{{localize "SW25.Item.cd"}}
        </button>
        <span></span>
        <button class="buttonclick" data-buttontype="buttonhr" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.hr"}}
        </button>
        <button class="buttonclick" data-buttontype="buttonmr" style="font-size:0.6em;">
            <span style="color: #0f6f0f;">✔</span>{{localize "SW25.Item.mr"}}
        </button>
    </div>
</div>
{{/if}}
