<div class="dice-roll">
    {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">
            {{#if critical}} <span style="color: #0f6f0f; font-size:0.7em;">{{localize "SW25.Critical"}} ▶ </span>{{/if}}
            {{#if fumble}} <span style="color: #862020; font-size:0.7em;">{{localize "SW25.Fumble"}} ▶ </span>{{/if}}
            {{total}}
        </h4>
    </div>
</div>
