{{#if flavor}}<span class="flavor-text">{{flavor}}</span>{{/if}}
<div style="text-align: center;">
    {{#if (eq type "buttonpd")}}<span style="color: #862020; font-weight: bold; font-size: 1.5em;">{{value}}</span> {{localize "SW25.Pdamage"}}{{/if}}
    {{#if (eq type "buttonmd")}}<span style="color: #862020; font-weight: bold; font-size: 1.5em;">{{value}}</span> {{localize "SW25.Mdamage"}}{{/if}}
    {{#if (eq type "buttoncd")}}<span style="color: #862020; font-weight: bold; font-size: 1.5em;">{{value}}</span> {{localize "SW25.Cdamage"}}{{/if}}
    {{#if (eq type "buttonhr")}}<span style="color: #0f6f0f; font-weight: bold; font-size: 1.5em;">{{value}}</span> HP{{localize "SW25.Recovery"}}{{/if}}
    {{#if (eq type "buttonmr")}}<span style="color: #0f6f0f; font-weight: bold; font-size: 1.5em;">{{value}}</span> MP{{localize "SW25.Recovery"}}{{/if}}
    {{#if isView}}<div>{{#if (eq type "buttonmr")}}MP{{else}}HP{{/if}}&nbsp;<span style="font-weight: bold; font-size: 1.5em;">{{beforeValue}}</span> >>> <span style="font-weight: bold; font-size: 1.5em;">{{afterValue}}</span></div>{{/if}}
    <div style="text-align: right; font-size: 0.7em;"> >>><span style="font-size:1.2em;"> {{target}}</span></div>
</div>
