<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize "TYPES.Item.accessory"}} ({{localize "SW25.Item.Equip"}})</div>
    <div class='item-element' style="flex: 0 0 80px;">{{localize "SW25.Item.Accessory.Part"}}</div>
  </li>
  {{#each battleaccessories as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{item.name}}</h4>{{#if item.system.dedicated}} ({{localize "SW25.Item.Dedicated"}}{{item.system.deffectname}}){{/if}}
      </div>
      <div style="text-align: center; flex: 0 0 80px;">
        {{item.system.accpartname}}
      </div>
    </li>
  {{/each}}
</ol>