{{#if system.hpcost}}
<div class='hpcost item-prop' style="flex: 0 0 {{#if system.maxhpcost}}80px{{else}}40px{{/if}};" data-cost="{{item.system.hpcost}}" data-max="{{item.system.maxhpcost}}" data-label="{{item.name}}" data-type="{{item.type}}">
    <b>HP:{{system.hpcost}}{{#if system.maxhpcost}} ({{system.maxhpcost}}){{/if}}</b>
</div>
{{/if}}
{{#if system.mpcost}}
<div class="mpcost item-prop" style="flex: 0 0 40px;" data-cost="{{item.system.mpcost}}" data-label="{{item.name}}" data-type="{{item.type}}">
    <b>MP:{{system.mpcost}}</b>
</div>
{{/if}}