<ol class='items-list actiontable'>
  <li class='item flexrow items-header'>
    <div class='item-element' style="flex: 0 0 150px;">{{localize "SW25.Item.Action.Label"}}</div>
    <div class='item-name'>{{localize "TYPES.Item.action"}}</div>
    <div class='item-quantity item-element' style="flex: 0 0 60px;">{{localize "SW25.Item.Action.ActionValue"}}</div>
    <div class='item-controls'>
      <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.action")}}' data-type='action'>
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type=''}}
      </a>
    </div>
  </li>
  {{#each actions as |item id|}}
    <li class='item' data-item-id='{{item._id}}'>
      <div class="flexrow flex-group-center">
        <div class='item-name' style="flex: 0 0 150px;">
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'>
              <img class="roll-icon" src='{{item.img}}' title='{{item.name}}'/>
            </a>
          </div>
          <h4 class="item-label">{{item.name}}</h4>
        </div>
        <div class='item-name item-label item-prop'>{{{system.displayaction}}}</div>
        {{> "systems/sw25/templates/actor/parts/actor-useitems.hbs" item=item}}
        <div class='rollable item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 60px;" data-roll="{{item.system.checkformula1}}+{{item.system.checkbase1}}" data-label="{{item.name}} ({{localize "SW25.Item.Action.ActionValue"}})" data-pt="{{item.system.powertable}}" data-apply="{{system.applycheck1}}" data-checktype="{{system.checkTypesButton1}}" {{resistAttributes type system.dice1.resist}}>
          {{system.actionvalue}} ({{system.actionresult}})
        </div>
        {{#if ../isOwner}}
          <div class='item-controls'>
            <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.action")}}'>
              <i class='fas fa-edit'></i>
            </a>
            <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.action")}}'>
              <i class='fas fa-trash'></i>
            </a>
          </div>
        {{else}}
          <div class='item-controls'>
            <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.action")}}'>
              <i class='fa-solid fa-eye'></i>
            </a>
          </div>
        {{/if}}
      </div>
      <div class="item-description nogapmargin">
        <div class="flexrow">
          <div style="flex: 0 0 60px;"></div>
          <div class="flexcol textalign-left" style="font-size: 0.8em;">
            {{#if system.dialog}}<span><b>{{localize "SW25.Item.Action.Dialog"}}:</b> {{system.dialog}}</span>{{/if}}
            {{#if system.displayactioneffect}}
            <span><b>{{localize "SW25.Item.Action.ActionEffect"}}:</b></span>
            <span>{{{system.displayactioneffect}}}</span>
            {{/if}}
            {{#if system.description}}
            <span><b>{{localize "SW25.Description"}}:</b></span>
            <span>{{{system.description}}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ol>
