<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize "TYPES.Item.weapon"}} ({{localize "SW25.Item.Equip"}})</div>
    <div class='item-element' style="flex: 0 0 120px;">{{localize "SW25.Skillname"}}</div>
    <div class='item-element' style="flex: 0 0 30px;">{{localize "SW25.Item.Weapon.Hit"}}</div>
    <div class='item-element' style="flex: 0 0 90px;">{{localize "SW25.Item.Power"}}</div>
    <div class='item-element' style="flex: 0 0 70px;">{{localize "SW25.Item.Weapon.Range"}}</div>
  </li>
  {{#each battleweapons as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{item.name}}{{#if item.system.dedicated}} ({{localize "SW25.Item.Dedicated"}}){{/if}}</h4>
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 120px;">
        {{item.system.showskill}}
      </div>
      <div class='rollable item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 30px;" data-roll="{{item.system.checkformula}}+{{item.system.checkbase}}" data-label="{{item.name}} ({{localize "SW25.Item.Weapon.Hit"}})" data-pt="{{item.system.powertable}}">
        {{item.system.checkbase}}
      </div>
      <div class='powerrollable item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 90px;" data-roll="{{item.system.powerformula}}" data-label="{{item.name}} ({{localize "SW25.Item.Power"}})" data-pt="{{item.system.powertable}}">
        k{{system.power}}{{#if system.cvalue}}@{{system.cvalue}}{{/if}}{{#if system.powerbase}}+{{system.powerbase}}{{/if}}
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 70px;">
        {{item.system.range}}
      </div>
    </li>
  {{/each}}
</ol>