<div class="rollable tooltip usedice applybutton" style="display: {{#if system.usedice}}block{{else}}none{{/if}};" data-roll="{{item.system.checkformula}}+{{item.system.checkbase}}" data-label="{{item.name}} ({{localize "SW25.Check"}})" data-pt="{{item.system.powertable}}" data-apply="{{system.applycheck}}" data-checktype="{{system.checkTypesButton}}" {{resistAttributes type system.resistinfo system.hpresist}}>
    <i class="fa-solid fa-dice"></i><span class="tooltip-top">{{localize "SW25.Item.CheckB"}}</span>
</div>
<div class="powerrollable tooltip usepower applybutton" style="display: {{#if system.usepower}}block{{else}}none{{/if}};" data-roll="{{item.system.powerformula}}" data-label="{{item.name}} ({{localize "SW25.Item.Power"}})" data-pt="{{item.system.powertable}}" data-apply="{{system.applypower}}" data-powertype="{{system.powerTypesButton}}">
    <i class="fa-solid fa-meteor"></i><span class="tooltip-top">{{localize "SW25.Item.PowerB"}}</span>
</div>
<div class="applyeffect tooltip useeffect applybutton" style="display: {{#if system.useeffect}}block{{else}}none{{/if}};">
    <i class="fa-solid fa-hand-sparkles"></i><span class="tooltip-top">{{localize "SW25.Item.EffectB"}}</span>
</div>