<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-element' style="flex: 0 0 30px;">Lv</div>
    <div class='item-name'>{{localize "SW25.Item.Spell.Conjurer"}}</div>
    <div class='item-element' style="flex: 0 0 30px;">HP</div>
    <div class='item-element' style="flex: 0 0 30px;">MP</div>
    <div class='item-element sidebar-hidden' style="flex: 0 0 60px;">{{localize "SW25.Target"}}</div>
    <div class='item-element sidebar-hidden' style="flex: 0 0 60px;">{{localize "SW25.Rangeshape"}}</div>
    <div class='item-element sidebar-hidden' style="flex: 0 0 100px;">{{localize "SW25.Time"}}</div>
    <div class='item-element sidebar-hidden' style="flex: 0 0 40px;">{{localize "SW25.Item.Resist"}}</div>
    <div class='item-element' style="flex: 0 0 80px;">{{localize "SW25.Item.Prop"}}</div>
  </li>
  {{#each conjurer as |item id|}}
    {{> "systems/sw25/templates/actor/parts/actor-spell-item.hbs" item=item isOwner=../isOwner}}
  {{/each}}
</ol>
