<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize "SW25.Check"}}</div>
    <div class='item-checkbase item-element'>{{localize "SW25.Basenumber"}}</div>
    <div class='item-scmod' style="flex: 0 0 50px;">{{localize "SW25.Modifier"}}</div>
  </li>
  {{#each battlechecks as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class="flexrow flex-group-center">
        {{#if (eq system.checkmethod "power")}}
        <span class='item-name item-checklabel powerrollable resource-label' data-roll="{{item.system.formula}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applypower}}" data-powertype="{{item.system.powerTypesButton}}">
        {{else}}
        <span class='item-name item-checklabel rollable resource-label' data-roll="{{item.system.formula}}+{{item.system.checkbase}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applycheck}}" data-checktype="{{item.system.checkTypesButton}}">
        {{/if}}
          <h4>{{item.name}}</h4>
        </span>
        {{#if (eq system.checkmethod "power")}}
        <span class='item-checkbase align-center powerrollable resource-label item-element' data-roll="{{item.system.formula}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applypower}}" data-powertype="{{item.system.powerTypesButton}}">
        {{else}}
        <span class='item-checkbase align-center rollable resource-label item-element' data-roll="{{item.system.formula}}+{{item.system.checkbase}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applycheck}}" data-checktype="{{item.system.checkTypesButton}}">
        {{/if}}
          {{item.system.checkbase}}
        </span>
        <div class='item-checkmod item-prop input flexrow flex-group-center' style="flex: 0 0 50px;">
          {{!-- <a class="checkmod-button" data-action="decrease" data-property="item.system.checkmod">
            <i class="fas fa-minus"></i>
          </a> --}}
          <input class="cm-change" type="text" name="checkmodInput" value="{{item.system.checkmod}}" data-dtype="Number"/>
          {{!-- <a class="checkmod-button" data-action="increase" data-property="item.system.checkmod">
            <i class="fas fa-plus"></i>
          </a> --}}
        </div>
      </div>
    </li>
  {{/each}}
</ol>