<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize "SW25.Check"}}</div>
    <div class='item-checkbase item-element'>{{localize "SW25.Basenumber"}}</div>
    <div class='item-scmod'>{{localize "SW25.Modifier"}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.check")}}'
        data-type='check'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type=''}}
      </a>
    </div>
  </li>
  {{#each checks as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class="flexrow flex-group-center">
        {{#if (eq system.checkmethod "power")}}
        <span class='item-name item-checklabel powerrollable resource-label' data-roll="{{item.system.formula}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applypower}}" data-powertype="{{item.system.powerTypesButton}}">
        {{else}}
        <span class='item-name item-checklabel rollable resource-label' data-roll="{{item.system.formula}}+{{item.system.checkbase}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applycheck}}" data-checktype="{{item.system.checkTypesButton}}">
        {{/if}}
          <h4>{{item.name}}</h4>
        </span>
        {{#if (eq system.checkmethod "power")}}
        <span class='item-checkbase align-center powerrollable resource-label item-element' data-roll="{{item.system.formula}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applypower}}" data-powertype="{{item.system.powerTypesButton}}">
        {{else}}
        <span class='item-checkbase align-center rollable resource-label item-element' data-roll="{{item.system.formula}}+{{item.system.checkbase}}" data-label="{{item.name}}" data-pt="{{item.system.powertable}}" data-apply="{{item.system.applycheck}}" data-checktype="{{item.system.checkTypesButton}}">
        {{/if}}
          {{item.system.checkbase}}
        </span>
        <div class='item-checkmod item-prop input'><input class="cm-change" type="text" name="checkmodInput" value="{{item.system.checkmod}}" data-dtype="Number"/></div>
        {{#if ../isOwner}}
          <div class='item-controls'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.check")}}'
            >
              <i class='fas fa-edit'></i>
            </a>
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.check")}}'
            >
              <i class='fas fa-trash'></i>
            </a>
          </div>
        {{else}}
          <div class='item-controls'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.check")}}'
            >
              <i class='fa-solid fa-eye'></i>
            </a>
          </div>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ol>
