<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-element' style="flex: 0 0 30px;">Lv</div>
    <div class='item-name'>{{localize "SW25.Item.Spell.Druid"}}</div>
    <div class='item-element' style="flex: 0 0 30px;">MP</div>
    <div class='item-element' style="flex: 0 0 60px;">{{localize "SW25.Target"}}</div>
    <div class='item-element' style="flex: 0 0 60px;">{{localize "SW25.Rangeshape"}}</div>
    <div class='item-element' style="flex: 0 0 40px;">{{localize "SW25.Time"}}</div>
    <div class='item-element' style="flex: 0 0 40px;">{{localize "SW25.Item.Resist"}}</div>
    <div class='item-element' style="flex: 0 0 80px;">{{localize "SW25.Item.Prop"}}</div>
 </li>
  {{#each druid as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 30px;">
        {{system.level}}
      </div>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        {{#if system.aux}}≫{{/if}}{{#if system.prep}}△{{/if}}<h4>{{item.name}}</h4>
      </div>
      <div class="rollable" style="flex: 0 0 40px; display: {{#if system.usedice}}block{{else}}none{{/if}};" data-roll="{{item.system.checkformula}}+{{item.system.checkbase}}" data-label="{{item.name}} ({{localize "SW25.Check"}})" data-pt="{{item.system.powertable}}">
        <b>{{localize "SW25.Check"}}</b>
      </div>
      <div class="powerrollable" style="flex: 0 0 40px; display: {{#if system.usepower}}block{{else}}none{{/if}};" data-roll="{{item.system.powerformula}}" data-label="{{item.name}} ({{localize "SW25.Item.Power"}})" data-pt="{{item.system.powertable}}">
        <b>{{localize "SW25.Item.Power"}}</b>
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 30px;">
        {{system.mpcost}}
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 60px;">
        {{system.target}}
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 60px;">
        {{system.rangeshape}}
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 40px;">
        {{system.time}} R
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 40px;">
        {{system.resistname}}
      </div>
      <div class='item-quantity item-prop flexrow flex-group-center' style="flex: 0 0 80px;">
        {{system.propname}}
      </div>
    </li>
  {{/each}}
</ol>