<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{#unless system.limited}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div class="resource flexcol flex-between flex-group-center gap-s">
          <div class="flexrow">
            <label for="system.hp.value" class="resource-label-l">{{localize "SW25.Hp"}}</label>
            <input class="resource-label-l" type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
            <span class="align-bottom">/{{system.hp.max}}</span>
          </div>
          <div class="flexrow align-bottom">
            <label for="system.mp.value" class="resource-label-l">{{localize "SW25.Mp"}}</label>
            <input class="resource-label-l" type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
            <span class="align-bottom">/{{system.mp.max}}</span>
          </div>
        </div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Overview"}}</b><br>{{{system.overview}}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Details Tab --}}
    <div class="tab items" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-5col">
          <div class="flex-group-center nogapmargin">
            <div>
              <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Hp"}}</b><br><input style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/></span>
            </div>
            <div>
              <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Mp"}}</b><br><input style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.mp.max" value="{{system.mp.max}}" data-dtype="Number"/></span>
            </div>
          </div>
          <div class="flexcol grid-span-4">
            <div><b>{{localize "SW25.Overview"}}</b></div>
            <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
              {{editor system.overview target="system.overview" rollData=rollData button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
        {{#if system.isgm}}
        <div class="flexcol margin-m">
          <div><b>{{localize "SW25.Gminfo"}}</b></div>
          <span style="text-align: left;">{{localize "SW25.Unidentifiedname"}}<input style="max-width: calc(50% - 7px); text-align: left;" type="text" name="system.udname" value="{{system.udname}}" data-dtype="String"/></span>
          <div>{{editor system.gminfo target="system.gminfo" rollData=rollData button=true owner=owner editable=editable}}</div>
        </div>
        {{/if}}
      </div>
    </div>

  </section>
  {{/unless}}

  {{#if system.limited}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div></div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Overview"}}</b><br>{{{system.overview}}}
        </div>
      </div>
    </div>
  </header>
  {{/if}}

</form>

