<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{#unless system.limited}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="monster-details textalign-center">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-resources">
        <div class="resources flexcol">
          {{#unless system.toFellow}}
          <div class="hpbar">
            <div class="hp-progress-bar">
              <progress class="hp-bar grid-span-3" value="{{system.hp.value}}" max="{{system.hp.max}}"></progress>
              <div class="current-max-resource nobreak">
                <input id="{{actor._id}}hp" type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
                <span class="inline-block">/ {{system.hp.max}}</span>
              </div>
            </div>
            <div class="hpmod nobreak" style="font-size: 0.7rem; display: flex; align-items: center; justify-content: end; height: 20px;">
              <label for="{{actor._id}}hpmod" class="resource-label">{{localize "SW25.Modifier"}}: </label>
              <input id="{{actor._id}}hpmod" style="height: 80%;" type="number" name="system.hp.hpmod" value="{{system.hp.hpmod}}" data-dtype="Number"/>
            </div>
          </div>
          {{/unless}}
          <div class="mpbar">
            <div class="mp-progress-bar">
              <progress class="mp-bar grid-span-3" value="{{system.mp.value}}" max="{{system.mp.max}}"></progress>
              <div class="current-max-resource nobreak">
                <input id="{{actor._id}}mp" type="number" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
                
                <span class="inline-block">/ {{system.mp.max}}</span>
              </div>
            </div>
            <div class="mpmod nobreak" style="font-size: 0.7rem; display: flex; align-items: center; justify-content: end; height: 20px;">
              <label for="{{actor._id}}mpmod" class="resource-label">{{localize "SW25.Modifier"}}: </label>
              <input id="{{actor._id}}mpmod" style="height: 80%;" type="number" name="system.mp.mpmod" value="{{system.mp.mpmod}}" data-dtype="Number"/>
            </div>
          </div>
          {{#if system.toFellow}}
          <div class="roll-actiontable action-button rollable"><i class="fas fa-dice-d6"></i>{{localize "SW25.ActionRoll"}}</div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="header-fields flexrow">
      <div class="character-details">
        <div class="character-details-primary flexrow">
          <div class="flexcol">
            <div class="character-name fontsize14">
              <input id="{{actor._id}}name" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </div>
            <div class="monster-type">
              <span class="resource-label nobreak">{{localize "SW25.Monster.Type"}}:</span>
              <span class="monster-type">{{system.type}}</span>
            </div>
          </div>
          <div class="character-fellow">
            <label for="{{actor._id}}fellow" class="resource-label">{{localize "SW25.Daemon"}}</label> <br>
            <label for="{{actor._id}}fellow"><i class="{{#if system.toFellow}}fas fa-toggle-on{{else}}fas fa-toggle-off{{/if}}"></i></label>
            <input id="{{actor._id}}fellow" style="display: none;" type="checkbox" name="system.toFellow" {{#if system.toFellow}}checked{{/if}} data-dtype="Boolean"/>
          </div>
          <div class="monster-level inline-block level-container">
            <i class="fas fa-bolt"></i>
            <span class="nobreak level-label">{{localize "SW25.Monlevel"}}:</span>
            <span class="monster-lvl level-value">{{system.monlevel}}</span>
          </div>
        </div>
        <hr>
        <div class="character-details-secondary monster-parameters flexcol">
          <div class="flexrow">
            <div class="monster-weakness">
              <input id="{{actor._id}}weakapply" type="checkbox" name="system.weakapply" {{checked system.weakapply}} data-dtype="Boolean" class="weakapply" />
              <label for="{{actor._id}}weakapply" class="resource-label nobreak">{{localize "SW25.Monster.Weakness"}}:</label>
              <span class="monster-weak">{{system.weakness}}</span>
            </div>
          </div>
          <div class="flexrow">
            <div class="monster-popularity popularityrollable">
              <span class="monster-label monster-small">{{localize "SW25.Monster.Popularity"}}/{{localize "SW25.Monster.Weakpoint"}} : </span>
              <span class="monster-small">{{system.popularity}}/{{system.weakpoint}}</span>
            </div>
            <div class="monster-move">
              <span class="monster-label monster-small">{{localize "SW25.Monster.Move"}}: </span>
              <span class="monster-small">{{system.move}}</span>
            </div>
          </div>
          <div class="flexrow">
            <div class="monster-preemptive preemptiverollable">
              <span class="monster-label monster-small">{{localize "SW25.Monster.Preemptive"}}: </span>
              <span class="monster-small">{{system.preemptive}}</span>
            </div>
            {{#if system.showpt}}
              <div class="monster-corepart">
                <span class="monster-label monster-small">{{localize "SW25.Monster.Corepart"}}: </span>
                <span class="monster-small">{{system.corepart}}</span>
              </div>
            {{/if}}
          </div>
          <hr>
          <div class="monster-parameters character-details-secondary flexrow">
            <div class="monster-pp">
              <span class="monster-label">{{localize "SW25.Attributes.Protectionpoint.abbr"}}</span><br>
              <span class="monster-value">{{system.pp}}</span>
            </div>
            <div class="monster-mpp">
              <span class="monster-label">{{localize "SW25.Attributes.Magicprotection.abbr"}}</span><br>
              <span class="monster-value">{{system.mpp}}</span>
            </div>
            <div class="monster-blank">
            </div>
            <div class="monster-loot">
              <span class="monster-label lootrollable">{{localize "SW25.Monster.Loot"}}</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </header>

  {{#unless system.toFellow}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="ability">{{localize "SW25.Monster.Ability"}}</a>
      <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
      <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
      <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Owned Ability Tab --}}
      <div class="tab ability" data-group="primary" data-tab="ability">
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-monsterabilities.hbs"}}
        </div>
        <div class="margin-m" style="display: flex; align-items: center;">
          <input type="checkbox" id="{{actor._id}}system.usespell" name="system.usespell" data-dtype="Boolean" {{#if system.usespell}} checked {{/if}}/>
          <label for="{{actor._id}}system.usespell">{{localize "SW25.Monster.Usespell"}}</label>
        </div>
        {{#if system.usespell}}
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-monsterspells.hbs"}}
        </div>
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-monsterskills.hbs"}}
        </div>
        {{/if}}
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        <div class="flexcol margin-l gap-m">
          <div class="resource-label-l">{{localize "SW25.Effect.TotalEffects"}}</div>
          <div class="grid grid-4col">
            {{#if system.totalhitmod}}<div><b>{{localize "SW25.Effect.HitMod"}}: {{system.totalhitmod}}</b></div>{{/if}}
            {{#if system.totaldmod}}<div><b>{{localize "SW25.Effect.DamageMod"}}: {{system.totaldmod}}</b></div>{{/if}}
            {{#if system.totalcmod}}<div><b>{{localize "SW25.Effect.CMod"}}: {{system.totalcmod}}</b></div>{{/if}}
            {{#if system.totalspcmod}}<div><b>{{localize "SW25.Effect.SpCMod"}}: {{system.totalspcmod}}</b></div>{{/if}}
            {{#if system.totalsphalfmod}}<div><b>{{localize "SW25.Effect.SpellHalfMod"}}: {{system.totalsphalfmod}}</b></div>{{/if}}
            {{#if system.totaldodgemod}}<div><b>{{localize "SW25.Effect.DodgeMod"}}: {{system.totaldodgemod}}</b></div>{{/if}}
            {{#if system.totalppmod}}<div><b>{{localize "SW25.Effect.PpMod"}}: {{system.totalppmod}}</b></div>{{/if}}
            {{#if system.totalmppmod}}<div><b>{{localize "SW25.Effect.MppMod"}}: {{system.totalmppmod}}</b></div>{{/if}}
            {{#if system.totaldreduce}}<div><b>{{localize "SW25.Effect.Dreduce"}}: {{system.totaldreduce}}</b></div>{{/if}}
            {{#if system.totalvitres}}<div><b>{{localize "SW25.Config.ResVit"}}: {{system.totalvitres}}</b></div>{{/if}}
            {{#if system.totalmndres}}<div><b>{{localize "SW25.Config.ResMnd"}}: {{system.totalmndres}}</b></div>{{/if}}
            {{#if system.totalallck}}<div><b>{{localize "SW25.Config.AllCk"}}: {{system.totalallck}}</b></div>{{/if}}
            {{#if system.totalhpmod}}<div><b>{{localize "SW25.Effect.HpMod"}}: {{system.totalhpmod}}</b></div>{{/if}}
            {{#if system.totalmpmod}}<div><b>{{localize "SW25.Effect.MpMod"}}: {{system.totalmpmod}}</b></div>{{/if}}
            {{#if system.totalscmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalscmod}}</b></div>{{/if}}
            {{#if system.totalscckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalscckmod}}</b></div>{{/if}}
            {{#if system.totalscpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalscpwmod}}</b></div>{{/if}}
            {{#if system.totalcnmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalcnmod}}</b></div>{{/if}}
            {{#if system.totalcnckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalcnckmod}}</b></div>{{/if}}
            {{#if system.totalcnpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalcnpwmod}}</b></div>{{/if}}
            {{#if system.totalwzmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalwzmod}}</b></div>{{/if}}
            {{#if system.totalwzckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalwzckmod}}</b></div>{{/if}}
            {{#if system.totalwzpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalwzpwmod}}</b></div>{{/if}}
            {{#if system.totalprmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalprmod}}</b></div>{{/if}}
            {{#if system.totalprckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalprckmod}}</b></div>{{/if}}
            {{#if system.totalprpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalprpwmod}}</b></div>{{/if}}
            {{#if system.totalmtmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmtmod}}</b></div>{{/if}}
            {{#if system.totalmtckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmtckmod}}</b></div>{{/if}}
            {{#if system.totalmtpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmtpwmod}}</b></div>{{/if}}
            {{#if system.totalfrmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalfrmod}}</b></div>{{/if}}
            {{#if system.totalfrckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalfrckmod}}</b></div>{{/if}}
            {{#if system.totalfrpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalfrpwmod}}</b></div>{{/if}}
            {{#if system.totaldrmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totaldrmod}}</b></div>{{/if}}
            {{#if system.totaldrckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totaldrckmod}}</b></div>{{/if}}
            {{#if system.totaldrpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totaldrpwmod}}</b></div>{{/if}}
            {{#if system.totaldmmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totaldmmod}}</b></div>{{/if}}
            {{#if system.totaldmckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totaldmckmod}}</b></div>{{/if}}
            {{#if system.totaldmpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totaldmpwmod}}</b></div>{{/if}}
            {{#if system.totalabmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.AbMod"}}: {{system.totalabmod}}</b></div>{{/if}}
            {{#if system.totalabckmod}}<div><b>{{localize "SW25.Effect.MCast"}} / {{localize "SW25.Effect.AbMod"}}: {{system.totalabckmod}}</b></div>{{/if}}
            {{#if system.totalabpwmod}}<div><b>{{localize "SW25.Effect.MPower"}} / {{localize "SW25.Effect.AbMod"}}: {{system.totalabpwmod}}</b></div>{{/if}}
            {{#if system.totalallmgp}}<div><b>{{localize "SW25.Config.AllMgp"}}: {{system.totalallmgp}}</b></div>{{/if}}
            {{#if system.totalallmck}}<div><b>{{localize "SW25.Effect.MagicCKRoll"}} / {{localize "SW25.Item.All"}}: {{system.totalallmck}}</b></div>{{/if}}
            {{#if system.totalallmpw}}<div><b>{{localize "SW25.Effect.MagicPWRoll"}} / {{localize "SW25.Item.All"}}: {{system.totalallmpw}}</b></div>{{/if}}
            {{#if system.totalmpsc}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalmpsc}}</b></div>{{/if}}
            {{#if system.totalmpcn}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalmpcn}}</b></div>{{/if}}
            {{#if system.totalmpwz}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalmpwz}}</b></div>{{/if}}
            {{#if system.totalmppr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalmppr}}</b></div>{{/if}}
            {{#if system.totalmpmt}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmpmt}}</b></div>{{/if}}
            {{#if system.totalmpfr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalmpfr}}</b></div>{{/if}}
            {{#if system.totalmpdr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totalmpdr}}</b></div>{{/if}}
            {{#if system.totalmpdm}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totalmpdm}}</b></div>{{/if}}
            {{#if system.totalmpab}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.AbMod"}}: {{system.totalmpab}}</b></div>{{/if}}
            {{#if system.totalmpall}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Item.All"}}: {{system.totalmpall}}</b></div>{{/if}}
            {{#if system.totalmsckmod}}<div><b>{{localize "TYPES.Item.magicalsong"}} / {{localize "SW25.Effect.Performance"}}: {{system.totalmsckmod}}</b></div>{{/if}}
            {{#if system.totalmspwmod}}<div><b>{{localize "TYPES.Item.magicalsong"}} / {{localize "SW25.Effect.MPower"}}: {{system.totalmspwmod}}</b></div>{{/if}}
            {{#if system.totalatckmod}}<div><b>{{localize "TYPES.Item.alchemytech"}}: {{system.totalatckmod}}</b></div>{{/if}}
            {{#if system.totalewckmod}}<div><b>{{localize "TYPES.Item.essenceweave"}} / {{localize "SW25.Effect.Force"}}: {{system.totalewckmod}}</b></div>{{/if}}
            {{#if system.totalewpwmod}}<div><b>{{localize "TYPES.Item.essenceweave"}} / {{localize "SW25.Effect.MPower"}}: {{system.totalewpwmod}}</b></div>{{/if}}
          </div>
        </div>
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-effects.hbs"}}
        </div>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
        <div>
          {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
        </div>
        <hr>
        <div>
          <b>{{localize "SW25.Monster.Loot"}}</b><br>
          {{{system.loot}}}
        </div>
      </div>

      {{!-- Owned Details Tab --}}
      <div class="tab items" data-group="primary" data-tab="details">
        <div class="flexcol">
          <div class="flexrow grid grid-5col gap-s">
            <div class="grid-span-1 flex-group-center nogapmargin">
              <div class="grid grid-2col nogapmargin">
                <div class="grid-span-2">
                  <span style="text-align: center;"><label for="{{actor._id}}system.monlevel"><b>{{localize "SW25.Monlevel"}}</b></label><br>
                  <input id="{{actor._id}}system.monlevel" style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.monlevel" value="{{system.monlevel}}" data-dtype="Number"/></span>
                </div>
                <div>
                  <span style="text-align: center;"><label for="{{actor._id}}system.hpbase"><b>{{localize "SW25.Max"}}{{localize "SW25.Hp"}}</b></label><br>
                  <input id="{{actor._id}}system.hpbase" style="text-align: center;" type="text" name="system.hpbase" value="{{system.hpbase}}" data-dtype="Number"/></span>
                </div>
                <div>
                  <span style="text-align: center;"><label for="{{actor._id}}system.mpbase"><b>{{localize "SW25.Max"}}{{localize "SW25.Mp"}}</b></label><br>
                  <input id="{{actor._id}}system.mpbase" style="text-align: center;" type="text" name="system.mpbase" value="{{system.mpbase}}" data-dtype="Number"/></span>
                </div>
                <div>
                  <span style="text-align: center;"><label for="{{actor._id}}system.ppbase"><b>{{localize "SW25.Attributes.Protectionpoint.abbr"}}</b></label><br>
                  <input id="{{actor._id}}system.ppbase" style="text-align: center;" type="text" name="system.ppbase" value="{{system.ppbase}}" data-dtype="Number"/></span>
                </div>
                <div>
                  <span style="text-align: center;"><label for="{{actor._id}}system.mppbase"><b>{{localize "SW25.Attributes.Magicprotection.abbr"}}</b></label><br>
                  <input id="{{actor._id}}system.mppbase" style="text-align: center;" type="text" name="system.mppbase" value="{{system.mppbase}}" data-dtype="Number"/></span>
                </div>
              </div>
            </div>
            <div class="grid-span-4">
              <label for="{{actori._id}}system.overview"><b>{{localize "SW25.Overview"}}</b></label><br>
              <textarea class="textarea-editor" id="{{actori._id}}system.overview" style="width: 100%; height: 120px;" data-path="overview">{{system.overview}}</textarea>
            </div>
          </div>
          <div class="flexrow grid grid-10col">
            <span class="grid-span-2" style="text-align: center;"><label for="{{actor._id}}system.type"><b>{{localize "SW25.Monster.Type"}}</b></label><br>
            <input id="{{actor._id}}system.type" type="text" name="system.type" value="{{system.type}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: center;"><label for="{{actor._id}}system.intelligence"><b>{{localize "SW25.Monster.Intelligence"}}</b></label><br>
            <input id="{{actor._id}}system.intelligence" type="text" name="system.intelligence" value="{{system.intelligence}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: center;"><label for="{{actor._id}}system.perception"><b>{{localize "SW25.Monster.Perception"}}</b></label><br>
            <input id="{{actor._id}}system.perception" type="text" name="system.perception" value="{{system.perception}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: center;"><label for="{{actor._id}}system.reaction"><b>{{localize "SW25.Monster.Reaction"}}</b></label><br>
            <input id="{{actor._id}}system.reaction" type="text" name="system.reaction" value="{{system.reaction}}" data-dtype="String"/></span>
            <span style="text-align: center;"><label for="{{actor._id}}system.impurity"><b>{{localize "SW25.Monster.Impurity"}}</b></label><br>
            <input id="{{actor._id}}system.impurity" type="text" name="system.impurity" value="{{system.impurity}}" data-dtype="Number"/></span>
            <span></span>
            <span class="grid-span-5" style="text-align: center;"><label for="{{actor._id}}system.language"><b>{{localize "SW25.Monster.Language"}}</b></label><br>
            <input id="{{actor._id}}system.language" type="text" name="system.language" value="{{system.language}}" data-dtype="String"/></span>
            <span class="grid-span-4" style="text-align: center;"><label for="{{actor._id}}system.habitat"><b>{{localize "SW25.Monster.Habitat"}}</b></label><br>
            <input id="{{actor._id}}system.habitat" type="text" name="system.habitat" value="{{system.habitat}}" data-dtype="String"/></span>
            <span></span>
            <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Popularity"}} / {{localize "SW25.Monster.Weakpoint"}}</b><br>
            <input style="max-width: calc(40% - 7px);" type="text" name="system.popularity" value="{{system.popularity}}" data-dtype="Number"/>/<input style="max-width: calc(40% - 7px);" type="text" name="system.weakpoint" value="{{system.weakpoint}}" data-dtype="Number"/></span>
            <span class="grid-span-4" style="text-align: center;"><label for="{{actor._id}}system.weakness"><b>{{localize "SW25.Monster.Weakness"}}</b></label><br>
            <input id="{{actor._id}}system.weakness" type="text" name="system.weakness" value="{{system.weakness}}" data-dtype="String"/></span>
            <span style="text-align: center;"><label for="{{actor._id}}system.preemptive"><b>{{localize "SW25.Monster.Preemptive"}}</b></label><br>
            <input id="{{actor._id}}system.preemptive" type="text" name="system.preemptive" value="{{system.preemptive}}" data-dtype="Number"/></span>
            <span class="grid-span-3" style="text-align: center;"><label for="{{actor._id}}system.move"><b>{{localize "SW25.Monster.Move"}}</b></label><br>
            <input id="{{actor._id}}system.move" type="text" name="system.move" value="{{system.move}}" data-dtype="String"/></span>
            <span class="grid-span-4" style="text-align: center;"><label for="{{actor._id}}system.part"><b>{{localize "SW25.Monster.Part"}}</b></label><br>
            <input id="{{actor._id}}system.part" type="text" name="system.part" value="{{system.part}}" data-dtype="String"/></span>
            <span class="grid-span-3" style="text-align: center;"><label for="{{actor._id}}system.corepart"><b>{{localize "SW25.Monster.Corepart"}}</b></label><br>
            <input id="{{actor._id}}system.corepart" type="text" name="system.corepart" value="{{system.corepart}}" data-dtype="String"/></span>
            <div class="flexcol grid-span-10">
              <div><b>{{localize "SW25.Monster.Loot"}}</b></div>
              <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
                {{editor system.loot target="system.loot" rollData=rollData button=true owner=owner editable=editable}}
              </div>
            </div>
        </div>
          {{#if system.isgm}}
          <div class="flexcol margin-m">
            <div><b>{{localize "SW25.Gminfo"}}</b></div>
            <span style="text-align: left;"><label for="{{actor._id}}system.udname">{{localize "SW25.Unidentifiedname"}}</label><input id="{{actor._id}}system.udname" style="max-width: calc(50% - 7px); text-align: left;" type="text" name="system.udname" value="{{system.udname}}" data-dtype="String"/></span>
            <div>{{editor system.gminfo target="system.gminfo" rollData=rollData button=true owner=owner editable=editable}}</div>
          </div>
          {{/if}}
        </div>
      </div>

    </section>
    {{/unless}}

  {{#if system.toFellow}}
  {{!-- Fellow Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="fellowAction">{{localize "SW25.ActionTable"}}</a>
    <a class="item" data-tab="fellowSetting">{{localize "SW25.Setting"}}</a>
  </nav>

  {{!-- Fellow Sheet Body --}}
  <section class="sheet-body">

    {{!-- Fellow Action Tab --}}
    <div class="tab fellowAction flexcol" data-group="primary" data-tab="fellowAction">
      {{#if (eq system.tabletype "fellow")}}
      <div class="flexcol margin-s">
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-actions-fellow.hbs"}}
        </div>
      </div>
      {{/if}}
      {{#if (eq system.tabletype "daemon")}}
      <div class="flexcol margin-s">
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-actions-daemon.hbs"}}
        </div>
      </div>
      {{/if}}
      <div class="margin-m" style="display: flex; align-items: center;">
        <input type="checkbox" id="{{actor._id}}system.attributes.showaction" name="system.attributes.showaction" data-dtype="Boolean" {{#if system.attributes.showaction}} checked {{/if}}/>
        <label for="{{actor._id}}system.attributes.showaction">{{localize "SW25.Attributes.Showaction"}}</label>
      </div>
      {{#if system.attributes.showaction}}
      <div class="flexcol margin-s">
        <div>
          {{> "systems/sw25/templates/actor/parts/actor-actions.hbs"}}
        </div>
      </div>
      {{/if}}
    </div>

    {{!-- Fellow Setting Tab --}}
    <div class="tab fellowSetting flexcol" data-group="primary" data-tab="fellowSetting">
      <div class="grid grid-10col margin-s">
        <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Action.TableType"}}</b><br>
          <select name="system.tabletype">
            {{#select system.tabletype}}
            <option value="daemon">{{localize "SW25.Daemon"}}</option>
            <option value="fellow">{{localize "SW25.Fellow"}}</option>
            {{/select}}
         </select>
        </span>
        <span class="grid-span-8"></span>
        <span class="grid-span-10" style="text-align: left;"><label for="{{actor._id}}system.canceldialog"><b>{{localize "SW25.CancelDialog"}}</b></label><br>
        <input id="{{actor._id}}system.canceldialog" type="text" name="system.canceldialog" value="{{system.canceldialog}}" data-dtype="String"/></span>        
      </div>
    </div>

  </section>
  {{/if}}
  {{/unless}}

  {{#if system.limited}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div></div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Overview"}}</b><br>{{{system.overview}}}
        </div>
      </div>
    </div>
  </header>
  {{/if}}

</form>