<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{#unless system.limited}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="adventurer-details textalign-center">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="flexcol">
        <label for="system.monlevel" class="resource-label nobreak">{{localize "SW25.Monlevel"}}</label>
        <span class="adventurer-level">{{system.monlevel}}</span>
      </div>
    </div>
    <div class="header-fields flexrow">
      <div class="character-details">
        <hr class="nogapmargin">
        <div class="character-name">
          <label for="{{_id}}name" class="resource-label">{{localize "SW25.Monster.Name"}}</label>
          <input id="{{_id}}name" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </div>
        <hr>
        <div class="character-details-secondary monster-parameters flexcol">
          <div class="monster-weakness">
            <input id="{{_id}}weakapply" type="checkbox" name="system.weakapply" {{checked system.weakapply}} data-dtype="Boolean" class="weakapply"/>
            <span><b>{{localize "SW25.Monster.Weakness"}}: </b>{{system.weakness}}</span>
          </div>
          <div class="flexrow">
            <div class="monster-popularity">
              <span class="monster-label monster-small">{{localize "SW25.Monster.Popularity"}}/{{localize "SW25.Monster.Weakpoint"}} : </span>
              <span class="monster-small">{{system.popularity}}/{{system.weakpoint}}</span>
            </div>
            <div class="monster-preemptive">
              <span class="monster-label monster-small">{{localize "SW25.Monster.Preemptive"}} : </span>
              <span class="monster-small">{{system.preemptive}}</span>
            </div>
          </div>
          <div class="monster-move">
            <span class="monster-label monster-small">{{localize "SW25.Monster.Move"}} : </span>
            <span class="monster-small">{{system.move}}</span>
          </div>
          <div class="monster-parameters">
            <hr>
            <div class="character-details-secondary flexrow" style="justify-content: flex-end;">
                  <div class="monster-pp">
                    <span class="monster-label">{{localize "SW25.Attributes.Protectionpoint.abbr"}}</span><br>
                    <span class="monster-value">{{system.pp}}</span>
                  </div>
                  <div class="monster-mpp">
                    <span class="monster-label">{{localize "SW25.Attributes.Magicprotection.abbr"}}</span><br>
                    <span class="monster-value">{{system.mpp}}</span>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-resources-m">
        <div class="resources grid grid-3col">
          <label for="{{_id}}hp" class="resource-label">{{localize "SW25.Hp"}}: </label>
          <div class="current-max-resource nobreak">
            <input id="{{_id}}hp" type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
            /
            <span>{{system.hp.max}}</span>
          </div>
          <div class="nobreak">
            <label for="{{_id}}hpmod" class="resource-label">{{localize "SW25.Modifier"}}: </label>
            <input id="{{_id}}hpmod" type="number" name="system.hp.hpmod" value="{{system.hp.hpmod}}" data-dtype="Number"/>
          </div>
          <progress class="hp-bar grid-span-3" value="{{system.hp.value}}" max="{{system.hp.max}}"></progress>
          <label for="{{_id}}mp" class="resource-label">{{localize "SW25.Mp"}}: </label>
          <div class="current-max-resource nobreak">
            <input id="{{_id}}mp" type="number" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
            /
            <span>{{system.mp.max}}</span>
          </div>
          <div class="nobreak">
            <label for="{{_id}}mpmod" class="resource-label">{{localize "SW25.Modifier"}}: </label>
            <input id="{{_id}}mpmod" type="number" name="system.mp.mpmod" value="{{system.mp.mpmod}}" data-dtype="Number"/>
          </div>
          <progress class="mp-bar grid-span-3" value="{{system.mp.value}}" max="{{system.mp.max}}"></progress>
          {{#if system.showpt}}
          <div class="grid-span-3">
            <hr>
            <span><b>{{localize "SW25.Monster.Corepart"}}: </b>{{system.corepart}}</span>
          </div>
          {{/if}}
        </div>
      </div><br>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="ability">{{localize "SW25.Monster.Ability"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Ability Tab --}}
    <div class="tab ability" data-group="primary" data-tab="ability">
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-monsterabilities.hbs"}}
      </div>
      <div class="margin-m" style="display: flex; align-items: center;">
        <input type="checkbox" name="system.usespell" data-dtype="Boolean" {{#if system.usespell}} checked {{/if}}/>
        <label for="system.usespell">{{localize "SW25.Monster.Usespell"}}</label>
      </div>
      {{#if system.usespell}}
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-monsterspells.hbs"}}
      </div>
      {{/if}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      <div class="flexcol margin-l gap-m">
        <div class="resource-label-l">{{localize "SW25.Effect.TotalEffects"}}</div>
        <div class="grid grid-4col">
          {{#if system.totalhitmod}}<div><b>{{localize "SW25.Effect.HitMod"}}: {{system.totalhitmod}}</b></div>{{/if}}
          {{#if system.totaldmod}}<div><b>{{localize "SW25.Effect.DamageMod"}}: {{system.totaldmod}}</b></div>{{/if}}
          {{#if system.totalcmod}}<div><b>{{localize "SW25.Effect.CMod"}}: {{system.totalcmod}}</b></div>{{/if}}
          {{#if system.totalspcmod}}<div><b>{{localize "SW25.Effect.SpCMod"}}: {{system.totalspcmod}}</b></div>{{/if}}
          {{#if system.totaldodgemod}}<div><b>{{localize "SW25.Effect.DodgeMod"}}: {{system.totaldodgemod}}</b></div>{{/if}}
          {{#if system.totalppmod}}<div><b>{{localize "SW25.Effect.PpMod"}}: {{system.totalppmod}}</b></div>{{/if}}
          {{#if system.totalmppmod}}<div><b>{{localize "SW25.Effect.MppMod"}}: {{system.totalmppmod}}</b></div>{{/if}}
          {{#if system.totaldreduce}}<div><b>{{localize "SW25.Effect.Dreduce"}}: {{system.totaldreduce}}</b></div>{{/if}}
          {{#if system.totalvitres}}<div><b>{{localize "SW25.Config.ResVit"}}: {{system.totalvitres}}</b></div>{{/if}}
          {{#if system.totalmndres}}<div><b>{{localize "SW25.Config.ResMnd"}}: {{system.totalmndres}}</b></div>{{/if}}
          {{#if system.totalallck}}<div><b>{{localize "SW25.Config.AllCk"}}: {{system.totalallck}}</b></div>{{/if}}
          {{#if system.totalhpmod}}<div><b>{{localize "SW25.Effect.HpMod"}}: {{system.totalhpmod}}</b></div>{{/if}}
          {{#if system.totalmpmod}}<div><b>{{localize "SW25.Effect.MpMod"}}: {{system.totalmpmod}}</b></div>{{/if}}
          {{#if system.totalscmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalscmod}}</b></div>{{/if}}
          {{#if system.totalcnmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalcnmod}}</b></div>{{/if}}
          {{#if system.totalwzmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalwzmod}}</b></div>{{/if}}
          {{#if system.totalprmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalprmod}}</b></div>{{/if}}
          {{#if system.totalmtmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmtmod}}</b></div>{{/if}}
          {{#if system.totalfrmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalfrmod}}</b></div>{{/if}}
          {{#if system.totaldrmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totaldrmod}}</b></div>{{/if}}
          {{#if system.totaldmmod}}<div><b>{{localize "SW25.Effect.MagicPower"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totaldmmod}}</b></div>{{/if}}
          {{#if system.totalallmgp}}<div><b>{{localize "SW25.Config.AllMgp"}}: {{system.totalallmgp}}</b></div>{{/if}}
          {{#if system.totalmpsc}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.ScMod"}}: {{system.totalmpsc}}</b></div>{{/if}}
          {{#if system.totalmpcn}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.CnMod"}}: {{system.totalmpcn}}</b></div>{{/if}}
          {{#if system.totalmpwz}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.WzMod"}}: {{system.totalmpwz}}</b></div>{{/if}}
          {{#if system.totalmppr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.PrMod"}}: {{system.totalmppr}}</b></div>{{/if}}
          {{#if system.totalmpmt}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.MtMod"}}: {{system.totalmpmt}}</b></div>{{/if}}
          {{#if system.totalmpfr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.FrMod"}}: {{system.totalmpfr}}</b></div>{{/if}}
          {{#if system.totalmpdr}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.DrMod"}}: {{system.totalmpdr}}</b></div>{{/if}}
          {{#if system.totalmpdm}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Effect.DmMod"}}: {{system.totalmpdm}}</b></div>{{/if}}
          {{#if system.totalmpall}}<div><b>{{localize "SW25.Effect.MPSave"}} / {{localize "SW25.Item.All"}}: {{system.totalmpall}}</b></div>{{/if}}
        </div>
      </div>
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-effects.hbs"}}
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div>
        {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
      </div>
      <hr>
      <div>
        <b>{{localize "SW25.Monster.Loot"}}</b><br>
        {{{system.loot}}}
      </div>
    </div>

    {{!-- Owned Details Tab --}}
    <div class="tab items" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-5col gap-s">
          <div class="grid-span-1 flex-group-center nogapmargin">
            <div class="grid grid-2col nogapmargin">
              <div class="grid-span-2">
                <span style="text-align: center;"><b>{{localize "SW25.Monlevel"}}</b><br><input style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.monlevel" value="{{system.monlevel}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Hp"}}</b><br><input style="text-align: center;" type="text" name="system.hpbase" value="{{system.hpbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Mp"}}</b><br><input style="text-align: center;" type="text" name="system.mpbase" value="{{system.mpbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Attributes.Protectionpoint.abbr"}}</b><br><input style="text-align: center;" type="text" name="system.ppbase" value="{{system.ppbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Attributes.Magicprotection.abbr"}}</b><br><input style="text-align: center;" type="text" name="system.mppbase" value="{{system.mppbase}}" data-dtype="Number"/></span>
              </div>
            </div>
          </div>
          <div class="flexcol grid-span-4">
            <div><b>{{localize "SW25.Overview"}}</b></div>
            <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
              {{editor system.overview target="system.overview" rollData=rollData button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
        <div class="flexrow grid grid-10col">
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Type"}}</b><br><input type="text" name="system.type" value="{{system.type}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Intelligence"}}</b><br><input type="text" name="system.intelligence" value="{{system.intelligence}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Perception"}}</b><br><input type="text" name="system.perception" value="{{system.perception}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Reaction"}}</b><br><input type="text" name="system.reaction" value="{{system.reaction}}" data-dtype="String"/></span>
          <span style="text-align: center;"><b>{{localize "SW25.Monster.Impurity"}}</b><br><input type="text" name="system.impurity" value="{{system.impurity}}" data-dtype="Number"/></span>
          <span></span>
          <span class="grid-span-5" style="text-align: center;"><b>{{localize "SW25.Monster.Language"}}</b><br><input type="text" name="system.language" value="{{system.language}}" data-dtype="String"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Habitat"}}</b><br><input type="text" name="system.habitat" value="{{system.habitat}}" data-dtype="String"/></span>
          <span></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Popularity"}} / {{localize "SW25.Monster.Weakpoint"}}</b><br><input style="max-width: calc(40% - 7px);" type="text" name="system.popularity" value="{{system.popularity}}" data-dtype="Number"/>/<input style="max-width: calc(40% - 7px);" type="text" name="system.weakpoint" value="{{system.weakpoint}}" data-dtype="Number"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Weakness"}}</b><br><input type="text" name="system.weakness" value="{{system.weakness}}" data-dtype="String"/></span>
          <span style="text-align: center;"><b>{{localize "SW25.Monster.Preemptive"}}</b><br><input type="text" name="system.preemptive" value="{{system.preemptive}}" data-dtype="Number"/></span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Monster.Move"}}</b><br><input type="text" name="system.move" value="{{system.move}}" data-dtype="String"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Part"}}</b><br><input type="text" name="system.part" value="{{system.part}}" data-dtype="String"/></span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Monster.Corepart"}}</b><br><input type="text" name="system.corepart" value="{{system.corepart}}" data-dtype="String"/></span>
          <div class="flexcol grid-span-10">
            <div><b>{{localize "SW25.Monster.Loot"}}</b></div>
            <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
              {{editor system.loot target="system.loot" rollData=rollData button=true owner=owner editable=editable}}
            </div>
          </div>
       </div>
        {{#if system.isgm}}
        <div class="flexcol margin-m">
          <div><b>{{localize "SW25.Gminfo"}}</b></div>
          <span style="text-align: left;">{{localize "SW25.Unidentifiedname"}}<input style="max-width: calc(50% - 7px); text-align: left;" type="text" name="system.udname" value="{{system.udname}}" data-dtype="String"/></span>
          <div>{{editor system.gminfo target="system.gminfo" rollData=rollData button=true owner=owner editable=editable}}</div>
        </div>
        {{/if}}
      </div>
    </div>

  </section>
  {{/unless}}

  {{#if system.limited}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div></div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Overview"}}</b><br>{{{system.overview}}}
        </div>
      </div>
    </div>
  </header>
  {{/if}}

</form>