<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{#unless system.limited}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div class="resource flexcol flex-group-center gap-s">
          <div>
            {{localize "SW25.Monlevel"}}<br><span class="resource-label-l">{{system.monlevel}}</span>
          </div>
          <div class="flexrow align-bottom">
            <label for="system.hp.value" class="resource-label-l">{{localize "SW25.Hp"}}</label>
            <input class="resource-label-l" type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
            <span class="align-bottom">/{{system.hp.max}}</span>
          </div>
          <div class="flexrow align-bottom">
            <label for="system.mp.value" class="resource-label-l">{{localize "SW25.Mp"}}</label>
            <input class="resource-label-l" type="text" name="system.mp.value" value="{{system.mp.value}}" data-dtype="Number"/>
            <span class="align-bottom">/{{system.mp.max}}</span>
          </div>
          <div class="grid grid-2col">
            <span>{{localize "SW25.Attributes.Protectionpoint.abbr"}}:<B>{{system.pp}}</B></span>
            <span>{{localize "SW25.Attributes.Magicprotection.abbr"}}:<B>{{system.mpp}}</B></span>
          </div>
        </div>
        <div class="flexcol flex-between grid-span-3">
          <div class="flexrow grid grid-4col nogapmargin">
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Type"}}: </b>{{system.type}}</span>
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Intelligence"}}: </b>{{system.intelligence}}</span>
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Perception"}}: </b>{{system.perception}}</span>
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Reaction"}}: </b>{{system.reaction}}</span>
            <span class="grid-span-4"><b>{{localize "SW25.Monster.Language"}}: </b>{{system.language}}</span>
            <span class="grid-span-3"><b>{{localize "SW25.Monster.Habitat"}}: </b>{{system.habitat}}</span>
            <span>{{#if system.showimp}}<b>{{localize "SW25.Monster.Impurity"}}: </b>{{system.impurity}}{{/if}}</span>
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Popularity"}} / {{localize "SW25.Monster.Weakpoint"}} : </b>{{system.popularity}} / {{system.weakpoint}}</span>
            <span class="grid-span-2"><b>{{localize "SW25.Monster.Weakness"}}: </b>{{system.weakness}}</span>
            <span><b>{{localize "SW25.Monster.Preemptive"}}: </b>{{system.preemptive}}</span>
            <span class="grid-span-3"><b>{{localize "SW25.Monster.Move"}}: </b>{{system.move}}</span>
            {{#if system.showpt}}
            <span class="grid-span-4"><b>{{localize "SW25.Monster.Part"}}: </b>{{system.part}} <b>{{localize "SW25.Monster.Corepart"}}: </b>{{system.corepart}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="ability">{{localize "SW25.Monster.Ability"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Ability Tab --}}
    <div class="tab ability" data-group="primary" data-tab="ability">
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-monsterabilities.hbs"}}
      </div>
      <div class="margin-m" style="display: flex; align-items: center;">
        <input type="checkbox" name="system.usespell" data-dtype="Boolean" {{#if system.usespell}} checked {{/if}}/>
        <label for="system.usespell">{{localize "SW25.Monster.Usespell"}}</label>
      </div>
      {{#if system.usespell}}
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-monsterspells.hbs"}}
      </div>
      {{/if}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      <div class="flexcol margin-l gap-m">
        <div class="resource-label-l">{{localize "SW25.Effect.TotalEffects"}}</div>
        <div class="grid grid-4col">
          {{#if system.totalhitmod}}<div><b>{{localize "SW25.Effect.HitMod"}}: {{system.totalhitmod}}</b></div>{{/if}}
          {{#if system.totaldmod}}<div><b>{{localize "SW25.Effect.DamageMod"}}: {{system.totaldmod}}</b></div>{{/if}}
          {{#if system.totaldodgemod}}<div><b>{{localize "SW25.Effect.DodgeMod"}}: {{system.totaldodgemod}}</b></div>{{/if}}
          {{#if system.totalppmod}}<div><b>{{localize "SW25.Effect.PpMod"}}: {{system.totalppmod}}</b></div>{{/if}}
          {{#if system.totalmppmod}}<div><b>{{localize "SW25.Effect.MppMod"}}: {{system.totalmppmod}}</b></div>{{/if}}
          {{#if system.totaldreduce}}<div><b>{{localize "SW25.Effect.Dreduce"}}: {{system.totaldreduce}}</b></div>{{/if}}
          {{#if system.totalvitres}}<div><b>{{localize "SW25.Config.ResVit"}}: {{system.totalvitres}}</b></div>{{/if}}
          {{#if system.totalmndres}}<div><b>{{localize "SW25.Config.ResMnd"}}: {{system.totalmndres}}</b></div>{{/if}}
          {{#if system.totalallck}}<div><b>{{localize "SW25.Config.AllCk"}}: {{system.totalallck}}</b></div>{{/if}}
          {{#if system.totalhpmod}}<div><b>{{localize "SW25.Effect.HpMod"}}: {{system.totalhpmod}}</b></div>{{/if}}
          {{#if system.totalmpmod}}<div><b>{{localize "SW25.Effect.MpMod"}}: {{system.totalmpmod}}</b></div>{{/if}}
          {{#if system.totalscmod}}<div><b>{{localize "SW25.Effect.ScMod"}}: {{system.totalscmod}}</b></div>{{/if}}
          {{#if system.totalcnmod}}<div><b>{{localize "SW25.Effect.CnMod"}}: {{system.totalcnmod}}</b></div>{{/if}}
          {{#if system.totalwzmod}}<div><b>{{localize "SW25.Effect.WzMod"}}: {{system.totalwzmod}}</b></div>{{/if}}
          {{#if system.totalprmod}}<div><b>{{localize "SW25.Effect.PrMod"}}: {{system.totalprmod}}</b></div>{{/if}}
          {{#if system.totalmtmod}}<div><b>{{localize "SW25.Effect.MtMod"}}: {{system.totalmtmod}}</b></div>{{/if}}
          {{#if system.totalfrmod}}<div><b>{{localize "SW25.Effect.FrMod"}}: {{system.totalfrmod}}</b></div>{{/if}}
          {{#if system.totaldrmod}}<div><b>{{localize "SW25.Effect.DrMod"}}: {{system.totaldrmod}}</b></div>{{/if}}
          {{#if system.totaldmmod}}<div><b>{{localize "SW25.Effect.DmMod"}}: {{system.totaldmmod}}</b></div>{{/if}}
          {{#if system.totalallmgp}}<div><b>{{localize "SW25.Config.AllMgp"}}: {{system.totalallmgp}}</b></div>{{/if}}
        </div>
      </div>
      <div>
        {{> "systems/sw25/templates/actor/parts/actor-effects.hbs"}}
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div>
        {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
      </div>
      <div>
        <b>{{localize "SW25.Monster.Loot"}}</b><br>
        {{{system.loot}}}
      </div>
    </div>

    {{!-- Owned Details Tab --}}
    <div class="tab items" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-5col gap-s">
          <div class="grid-span-1 flex-group-center nogapmargin">
            <div class="grid grid-2col nogapmargin">
              <div class="grid-span-2">
                <span style="text-align: center;"><b>{{localize "SW25.Monlevel"}}</b><br><input style="max-width: calc(50% - 7px); text-align: center;" type="text" name="system.monlevel" value="{{system.monlevel}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Hp"}}</b><br><input style="text-align: center;" type="text" name="system.hpbase" value="{{system.hpbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Max"}}{{localize "SW25.Mp"}}</b><br><input style="text-align: center;" type="text" name="system.mpbase" value="{{system.mpbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Attributes.Protectionpoint.abbr"}}</b><br><input style="text-align: center;" type="text" name="system.ppbase" value="{{system.ppbase}}" data-dtype="Number"/></span>
              </div>
              <div>
                <span style="text-align: center;"><b>{{localize "SW25.Attributes.Magicprotection.abbr"}}</b><br><input style="text-align: center;" type="text" name="system.mppbase" value="{{system.mppbase}}" data-dtype="Number"/></span>
              </div>
            </div>
          </div>
          <div class="flexcol grid-span-4">
            <div><b>{{localize "SW25.Overview"}}</b></div>
            <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
              {{editor system.overview target="system.overview" rollData=rollData button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
        <div class="flexrow grid grid-10col">
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Type"}}</b><br><input type="text" name="system.type" value="{{system.type}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Intelligence"}}</b><br><input type="text" name="system.intelligence" value="{{system.intelligence}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Perception"}}</b><br><input type="text" name="system.perception" value="{{system.perception}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Reaction"}}</b><br><input type="text" name="system.reaction" value="{{system.reaction}}" data-dtype="String"/></span>
          <span style="text-align: center;"><b>{{localize "SW25.Monster.Impurity"}}</b><br><input type="text" name="system.impurity" value="{{system.impurity}}" data-dtype="Number"/></span>
          <span></span>
          <span class="grid-span-5" style="text-align: center;"><b>{{localize "SW25.Monster.Language"}}</b><br><input type="text" name="system.language" value="{{system.language}}" data-dtype="String"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Habitat"}}</b><br><input type="text" name="system.habitat" value="{{system.habitat}}" data-dtype="String"/></span>
          <span></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Monster.Popularity"}} / {{localize "SW25.Monster.Weakpoint"}}</b><br><input style="max-width: calc(40% - 7px);" type="text" name="system.popularity" value="{{system.popularity}}" data-dtype="Number"/>/<input style="max-width: calc(40% - 7px);" type="text" name="system.weakpoint" value="{{system.weakpoint}}" data-dtype="Number"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Weakness"}}</b><br><input type="text" name="system.weakness" value="{{system.weakness}}" data-dtype="String"/></span>
          <span style="text-align: center;"><b>{{localize "SW25.Monster.Preemptive"}}</b><br><input type="text" name="system.preemptive" value="{{system.preemptive}}" data-dtype="Number"/></span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Monster.Move"}}</b><br><input type="text" name="system.move" value="{{system.move}}" data-dtype="String"/></span>
          <span class="grid-span-4" style="text-align: center;"><b>{{localize "SW25.Monster.Part"}}</b><br><input type="text" name="system.part" value="{{system.part}}" data-dtype="String"/></span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Monster.Corepart"}}</b><br><input type="text" name="system.corepart" value="{{system.corepart}}" data-dtype="String"/></span>
          <div class="flexcol grid-span-10">
            <div><b>{{localize "SW25.Monster.Loot"}}</b></div>
            <div style="border: 1px solid gray; padding: 2px; border-radius: 5px;">
              {{editor system.loot target="system.loot" rollData=rollData button=true owner=owner editable=editable}}
            </div>
          </div>
       </div>
        {{#if system.isgm}}
        <div class="flexcol margin-m">
          <div><b>{{localize "SW25.Gminfo"}}</b></div>
          <span style="text-align: left;">{{localize "SW25.Unidentifiedname"}}<input style="max-width: calc(50% - 7px); text-align: left;" type="text" name="system.udname" value="{{system.udname}}" data-dtype="String"/></span>
          <div>{{editor system.gminfo target="system.gminfo" rollData=rollData button=true owner=owner editable=editable}}</div>
        </div>
        {{/if}}
      </div>
    </div>

  </section>
  {{/unless}}

  {{#if system.limited}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-4col">
        <div></div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Overview"}}</b><br>{{{system.overview}}}
        </div>
      </div>
    </div>
  </header>
  {{/if}}

</form>

