<form autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-icon" src="{{ data.icon }}" data-edit="icon">
        <h1 class="effect-title">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}"/>
        </h1>
    </header>
    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
        <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
    </nav>

    <!-- Details Tab -->
    <section class="tab" data-tab="details">
        <div class="form-group">
            <label>{{ localize "EFFECT.IconTint" }}</label>
            <div class="form-fields">
                {{colorPicker name="tint" value=data.tint}}
            </div>
        </div>

        <div class="form-group stacked">
            <label>{{ localize "EFFECT.Description" }}</label>
            {{editor descriptionHTML target="description" button=true editable=editable engine="prosemirror" collaborate=false}}
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Disabled" }}</label>
            <input type="checkbox" name="disabled" {{ checked data.disabled }}/>
        </div>

        {{#if isActorEffect}}
        <div class="form-group">
            <label>{{ localize "EFFECT.Origin" }}</label>
            <div class="form-fields">
                <input type="text" name="origin" value="{{ data.origin }}" disabled/>
            </div>
        </div>
        {{/if}}

        {{#if isItemEffect}}
        <div class="form-group">
            <label>{{ labels.transfer.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="transfer" {{checked data.transfer}}/>
            </div>
            <p class="hint">{{ labels.transfer.hint }}</p>
        </div>
        {{/if}}
    </section>

    <!-- Duration Tab -->
    <section class="tab" data-tab="duration">
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationSecs" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.seconds" value="{{ data.duration.seconds }}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.StartTime" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.startTime" value="{{ data.duration.startTime }}"/>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationTurns" }}</label>
            <div class="form-fields">
                <label style="flex: 1;">{{ localize "COMBAT.Rounds" }}</label>
                <input type="number" name="duration.rounds" value="{{ data.duration.rounds }}"/>
                <label style="flex: 1;">{{ localize "COMBAT.Turns" }}</label>
                <input type="number" name="duration.turns" value="{{ data.duration.turns }}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Combat" }}</label>
            <div class="form-fields">
                <input type="text" name="duration.combat" value="{{ data.duration.combat }}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.StartTurns" }}</label>
            <div class="form-fields">
                <label style="flex: 1;">{{ localize "COMBAT.Round" }}</label>
                <input type="number" name="duration.startRound" value="{{ data.duration.startRound }}"/>
                <label style="flex: 1;">{{ localize "COMBAT.Turn" }}</label>
                <input type="number" name="duration.startTurn" value="{{ data.duration.startTurn }}"/>
            </div>
        </div>
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each data.changes as |change i|}}
            <li class="effect-change flexrow" data-index="{{i}}">
               <div class="key">
                    <select name="changes.{{i}}.keyClassification" class="select-keyClassification">
                    {{#select change.keyClassification}}
                    <option value="">-</option>
                    <option value="battle" {{#if (eq change.keyClassification "battle")}}selected{{/if}}>{{localize "SW25.Effect.Battle"}}</option>
                    <option value="parameter" {{#if (eq change.keyClassification "parameter")}}selected{{/if}}>{{localize "SW25.Effect.Parameter"}}</option>
                    <option value="magicpower" {{#if (eq change.keyClassification "magicpower")}}selected{{/if}}>{{localize "SW25.Effect.MagicPower"}}</option>
                    <option value="input" {{#if (eq change.keyClassification "input")}}selected{{/if}}>{{localize "SW25.Effect.DirectInput"}}</option>
                    {{/select}}
                    </select>
                    {{#if (eq change.keyClassification "battle")}}
                        <select name="changes.{{i}}.key">
                        {{#select change.key}}
                        <option value="">-</option>
                        <option value="system.attributes.hitmod" {{#if (eq change.key "system.attributes.hitmod")}}selected{{/if}}>{{localize "SW25.Effect.HitMod"}}</option>
                        <option value="system.attributes.dmod" {{#if (eq change.key "system.attributes.dmod")}}selected{{/if}}>{{localize "SW25.Effect.DamageMod"}}</option>
                        <option value="system.lt" {{#if (eq change.key "system.lt")}}selected{{/if}}>{{localize "SW25.Effect.LethalTech"}}</option>
                        <option value="system.cr" {{#if (eq change.key "system.cr")}}selected{{/if}}>{{localize "SW25.Effect.CriticalRay"}}</option>
                        <option value="system.attributes.dodgemod" {{#if (eq change.key "system.attributes.dodgemod")}}selected{{/if}}>{{localize "SW25.Effect.DodgeMod"}}</option>
                        <option value="system.attributes.ppmod" {{#if (eq change.key "system.attributes.ppmod")}}selected{{/if}}>{{localize "SW25.Effect.PpMod"}}</option>
                        <option value="system.attributes.mppmod" {{#if (eq change.key "system.attributes.mppmod")}}selected{{/if}}>{{localize "SW25.Effect.MppMod"}}</option>
                        <option value="system.attributes.dreduce" {{#if (eq change.key "system.attributes.dreduce")}}selected{{/if}}>{{localize "SW25.Effect.Dreduce"}}</option>
                        <option value="system.attributes.move.movemod" {{#if (eq change.key "system.attributes.move.movemod")}}selected{{/if}}>{{localize "SW25.Effect.MoveMod"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "parameter")}}
                        <select name="changes.{{i}}.key">
                        {{#select change.key}}
                        <option value="">-</option>
                        <option value="system.hp.hpmod" {{#if (eq change.key "system.hp.hpmod")}}selected{{/if}}>{{localize "SW25.Effect.HpMod"}}</option>
                        <option value="system.mp.mpmod" {{#if (eq change.key "system.mp.mpmod")}}selected{{/if}}>{{localize "SW25.Effect.MpMod"}}</option>
                        <option value="system.abilities.dex.valuemodify" {{#if (eq change.key "system.abilities.dex.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.DexValueModify"}}</option>
                        <option value="system.abilities.agi.valuemodify" {{#if (eq change.key "system.abilities.agi.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.AgiValueModify"}}</option>
                        <option value="system.abilities.str.valuemodify" {{#if (eq change.key "system.abilities.str.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.StrValueModify"}}</option>
                        <option value="system.abilities.vit.valuemodify" {{#if (eq change.key "system.abilities.vit.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.VitValueModify"}}</option>
                        <option value="system.abilities.int.valuemodify" {{#if (eq change.key "system.abilities.int.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.IntValueModify"}}</option>
                        <option value="system.abilities.mnd.valuemodify" {{#if (eq change.key "system.abilities.mnd.valuemodify")}}selected{{/if}}>{{localize "SW25.Effect.MndValueModify"}}</option>
                        <option value="system.abilities.dex.efmodify" {{#if (eq change.key "system.abilities.dex.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.DexModModify"}}</option>
                        <option value="system.abilities.agi.efmodify" {{#if (eq change.key "system.abilities.agi.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.AgiModModify"}}</option>
                        <option value="system.abilities.str.efmodify" {{#if (eq change.key "system.abilities.str.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.StrModModify"}}</option>
                        <option value="system.abilities.vit.efmodify" {{#if (eq change.key "system.abilities.vit.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.VitModModify"}}</option>
                        <option value="system.abilities.int.efmodify" {{#if (eq change.key "system.abilities.int.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.IntModModify"}}</option>
                        <option value="system.abilities.mnd.efmodify" {{#if (eq change.key "system.abilities.mnd.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.MndModModify"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "magicpower")}}
                        <select name="changes.{{i}}.key">
                        {{#select change.key}}
                        <option value="">-</option>
                        <option value="system.attributes.scmod" {{#if (eq change.key "system.attributes.scmod")}}selected{{/if}}>{{localize "SW25.Effect.ScMod"}}</option>
                        <option value="system.attributes.cnmod" {{#if (eq change.key "system.attributes.cnmod")}}selected{{/if}}>{{localize "SW25.Effect.CnMod"}}</option>
                        <option value="system.attributes.wzmod" {{#if (eq change.key "system.attributes.wzmod")}}selected{{/if}}>{{localize "SW25.Effect.WzMod"}}</option>
                        <option value="system.attributes.prmod" {{#if (eq change.key "system.attributes.prmod")}}selected{{/if}}>{{localize "SW25.Effect.PrMod"}}</option>
                        <option value="system.attributes.mtmod" {{#if (eq change.key "system.attributes.mtmod")}}selected{{/if}}>{{localize "SW25.Effect.MtMod"}}</option>
                        <option value="system.attributes.frmod" {{#if (eq change.key "system.attributes.frmod")}}selected{{/if}}>{{localize "SW25.Effect.FrMod"}}</option>
                        <option value="system.attributes.drmod" {{#if (eq change.key "system.attributes.drmod")}}selected{{/if}}>{{localize "SW25.Effect.DrMod"}}</option>
                        <option value="system.attributes.dmmod" {{#if (eq change.key "system.attributes.dnmod")}}selected{{/if}}>{{localize "SW25.Effect.DmMod"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "input")}}
                        <input style="max-width: calc(60% - 7px);" type="text" name="changes.{{i}}.key" value="{{change.key}}"/>
                    {{/if}}
                </div>
                <div class="mode">
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{selectOptions ../modes selected=change.mode}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                </div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>
