<form autocomplete="off">

    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="effect-icon" src="{{ data.icon }}" data-edit="icon">
        <h1 class="effect-title">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'Name' }}"/>
        </h1>
    </header>
    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
        <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "EFFECT.TabDuration"}}</a>
        <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
    </nav>

    <!-- Details Tab -->
    <section class="tab" data-tab="details">
        <div class="form-group">
            <label>{{ localize "EFFECT.IconTint" }}</label>
            <div class="form-fields">
                {{colorPicker name="tint" value=data.tint}}
            </div>
        </div>

        <div class="form-group stacked">
            <label>{{ localize "EFFECT.Description" }}</label>
            {{editor descriptionHTML target="description" button=true editable=editable engine="prosemirror" collaborate=false}}
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Disabled" }}</label>
            <input type="checkbox" name="disabled" {{ checked data.disabled }}/>
        </div>

        {{#if isActorEffect}}
        <div class="form-group">
            <label>{{ localize "EFFECT.Origin" }}</label>
            <div class="form-fields">
                <input type="text" name="origin" value="{{ data.origin }}" disabled/>
            </div>
        </div>
        {{/if}}

        {{#if isItemEffect}}
        <div class="form-group">
            <label>{{ labels.transfer.name }}</label>
            <div class="form-fields">
                <input type="checkbox" name="transfer" {{checked data.transfer}}/>
            </div>
            <p class="hint">{{ labels.transfer.hint }}</p>
        </div>
        {{/if}}
    </section>

    <!-- Duration Tab -->
    <section class="tab" data-tab="duration">
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationSecs" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.seconds" value="{{ data.duration.seconds }}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{ localize "EFFECT.StartTime" }}</label>
            <div class="form-fields">
                <input type="number" name="duration.startTime" value="{{ data.duration.startTime }}"/>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label>{{ localize "EFFECT.DurationTurns" }}</label>
            <div class="form-fields">
                <label style="flex: 1;">{{ localize "COMBAT.Rounds" }}</label>
                <input type="number" name="duration.rounds" value="{{ data.duration.rounds }}"/>
                <label style="flex: 1;">{{ localize "COMBAT.Turns" }}</label>
                <input type="number" name="duration.turns" value="{{ data.duration.turns }}"/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.Combat" }}</label>
            <div class="form-fields">
                <input type="text" name="duration.combat" value="{{ data.duration.combat }}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.StartTurns" }}</label>
            <div class="form-fields">
                <label style="flex: 1;">{{ localize "COMBAT.Round" }}</label>
                <input type="number" name="duration.startRound" value="{{ data.duration.startRound }}"/>
                <label style="flex: 1;">{{ localize "COMBAT.Turn" }}</label>
                <input type="number" name="duration.startTurn" value="{{ data.duration.startTurn }}"/>
            </div>
        </div>
    </section>

    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each data.changes as |change i|}}
            <li class="effect-change flexrow" data-index="{{i}}">
               <div class="key">
                    <select name="changes.{{i}}.keyClassification" class="select-keyClassification">
                    {{#select change.keyClassification}}
                    <option value="">-</option>
                    <option value="battle" {{#if (eq change.keyClassification "battle")}}selected{{/if}}>{{localize "SW25.Effect.Battle"}}</option>
                    <option value="check" {{#if (eq change.keyClassification "check")}}selected{{/if}}>{{localize "SW25.Effect.Check"}}</option>
                    <option value="parameter" {{#if (eq change.keyClassification "parameter")}}selected{{/if}}>{{localize "SW25.Effect.Parameter"}}</option>
                    <option value="magicpower" {{#if (eq change.keyClassification "magicpower")}}selected{{/if}}>{{localize "SW25.Effect.MagicPower"}}</option>
                    <option value="mpsave" {{#if (eq change.keyClassification "mpsave")}}selected{{/if}}>{{localize "SW25.Effect.MPSave"}}</option>
                    <option value="input" {{#if (eq change.keyClassification "input")}}selected{{/if}}>{{localize "SW25.Effect.DirectInput"}}</option>
                    {{/select}}
                    </select>
                    {{#if (eq change.keyClassification "battle")}}
                        <select name="changes.{{i}}.keyname" class="select-keyname">
                        {{#select change.keyname}}
                        <option value="">-</option>
                        <option value="attributes.efhitmod" {{#if (eq change.keyname "attributes.efhitmod")}}selected{{/if}}>{{localize "SW25.Effect.HitMod"}}</option>
                        <option value="attributes.efdmod" {{#if (eq change.keyname "attributes.efdmod")}}selected{{/if}}>{{localize "SW25.Effect.DamageMod"}}</option>
                        <option value="effect.efcvalue" {{#if (eq change.keyname "effect.efcvalue")}}selected{{/if}}>{{localize "SW25.Effect.CMod"}}</option>
                        <option value="effect.efspellcvalue" {{#if (eq change.keyname "effect.efspellcvalue")}}selected{{/if}}>{{localize "SW25.Effect.SpCMod"}}</option>
                        <option value="lt" {{#if (eq change.keyname "lt")}}selected{{/if}}>{{localize "SW25.Effect.LethalTech"}}</option>
                        <option value="cr" {{#if (eq change.keyname "cr")}}selected{{/if}}>{{localize "SW25.Effect.CriticalRay"}}</option>
                        <option value="attributes.efwphalfmod" {{#if (eq change.keyname "attributes.efwphalfmod")}}selected{{/if}}>{{localize "SW25.Effect.WeaponHalfMod"}}</option>
                        <option value="attributes.efsphalfmod" {{#if (eq change.keyname "attributes.efsphalfmod")}}selected{{/if}}>{{localize "SW25.Effect.SpellHalfMod"}}</option>
                        <option value="attributes.efdodgemod" {{#if (eq change.keyname "attributes.efdodgemod")}}selected{{/if}}>{{localize "SW25.Effect.DodgeMod"}}</option>
                        <option value="attributes.efppmod" {{#if (eq change.keyname "attributes.efppmod")}}selected{{/if}}>{{localize "SW25.Effect.PpMod"}}</option>
                        <option value="attributes.efmppmod" {{#if (eq change.keyname "attributes.efmppmod")}}selected{{/if}}>{{localize "SW25.Effect.MppMod"}}</option>
                        <option value="attributes.efdreduce" {{#if (eq change.keyname "attributes.efdreduce")}}selected{{/if}}>{{localize "SW25.Effect.Dreduce"}}</option>
                        <option value="attributes.move.efmovemod" {{#if (eq change.keyname "attributes.move.efmovemod")}}selected{{/if}}>{{localize "SW25.Effect.MoveMod"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "check")}}
                        <select name="changes.{{i}}.keyname" class="select-keyname">
                        {{#select change.keyname}}
                        <option value="">-</option>
                        <option value="effect.vitres" {{#if (eq change.keyname "effect.vitres")}}selected{{/if}}>{{localize "SW25.Config.ResVit"}}</option>
                        <option value="effect.mndres" {{#if (eq change.keyname "effect.mndres")}}selected{{/if}}>{{localize "SW25.Config.ResMnd"}}</option>
                        <option value="effect.init" {{#if (eq change.keyname "effect.init")}}selected{{/if}}>{{localize "SW25.Config.Init"}}</option>
                        <option value="effect.mknow" {{#if (eq change.keyname "effect.mknow")}}selected{{/if}}>{{localize "SW25.Config.MKnow"}}</option>
                        <option value="effect.allck" {{#if (eq change.keyname "effect.allck")}}selected{{/if}}>{{localize "SW25.Config.AllCk"}}</option>
                        <option value="effect.allsk" {{#if (eq change.keyname "effect.allsk")}}selected{{/if}}>{{localize "SW25.Config.AllSk"}}</option>
                        <option value="eflootmod" {{#if (eq change.keyname "eflootmod")}}selected{{/if}}>{{localize "SW25.Monster.Loot"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "parameter")}}
                        <select name="changes.{{i}}.keyname" class="select-keyname">
                        {{#select change.keyname}}
                        <option value="">-</option>
                        <option value="hp.efhpmod" {{#if (eq change.keyname "hp.efhpmod")}}selected{{/if}}>{{localize "SW25.Effect.HpMod"}}</option>
                        <option value="mp.efmpmod" {{#if (eq change.keyname "mp.efmpmod")}}selected{{/if}}>{{localize "SW25.Effect.MpMod"}}</option>
                        <option value="abilities.dex.efvaluemodify" {{#if (eq change.keyname "abilities.dex.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.DexValueModify"}}</option>
                        <option value="abilities.agi.efvaluemodify" {{#if (eq change.keyname "abilities.agi.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.AgiValueModify"}}</option>
                        <option value="abilities.str.efvaluemodify" {{#if (eq change.keyname "abilities.str.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.StrValueModify"}}</option>
                        <option value="abilities.vit.efvaluemodify" {{#if (eq change.keyname "abilities.vit.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.VitValueModify"}}</option>
                        <option value="abilities.int.efvaluemodify" {{#if (eq change.keyname "abilities.int.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.IntValueModify"}}</option>
                        <option value="abilities.mnd.efvaluemodify" {{#if (eq change.keyname "abilities.mnd.efvaluemodify")}}selected{{/if}}>{{localize "SW25.Effect.MndValueModify"}}</option>
                        <option value="abilities.dex.efmodify" {{#if (eq change.keyname "abilities.dex.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.DexModModify"}}</option>
                        <option value="abilities.agi.efmodify" {{#if (eq change.keyname "abilities.agi.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.AgiModModify"}}</option>
                        <option value="abilities.str.efmodify" {{#if (eq change.keyname "abilities.str.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.StrModModify"}}</option>
                        <option value="abilities.vit.efmodify" {{#if (eq change.keyname "abilities.vit.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.VitModModify"}}</option>
                        <option value="abilities.int.efmodify" {{#if (eq change.keyname "abilities.int.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.IntModModify"}}</option>
                        <option value="abilities.mnd.efmodify" {{#if (eq change.keyname "abilities.mnd.efmodify")}}selected{{/if}}>{{localize "SW25.Effect.MndModModify"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "magicpower")}}
                        <select name="changes.{{i}}.keyname" class="select-keyname">
                        {{#select change.keyname}}
                        <option value="">-</option>
                        <option value="attributes.efscmod" {{#if (eq change.keyname "attributes.efscmod")}}selected{{/if}}>{{localize "SW25.Effect.ScMod"}}</option>
                        <option value="attributes.efcnmod" {{#if (eq change.keyname "attributes.efcnmod")}}selected{{/if}}>{{localize "SW25.Effect.CnMod"}}</option>
                        <option value="attributes.efwzmod" {{#if (eq change.keyname "attributes.efwzmod")}}selected{{/if}}>{{localize "SW25.Effect.WzMod"}}</option>
                        <option value="attributes.efprmod" {{#if (eq change.keyname "attributes.efprmod")}}selected{{/if}}>{{localize "SW25.Effect.PrMod"}}</option>
                        <option value="attributes.efmtmod" {{#if (eq change.keyname "attributes.efmtmod")}}selected{{/if}}>{{localize "SW25.Effect.MtMod"}}</option>
                        <option value="attributes.effrmod" {{#if (eq change.keyname "attributes.effrmod")}}selected{{/if}}>{{localize "SW25.Effect.FrMod"}}</option>
                        <option value="attributes.efdrmod" {{#if (eq change.keyname "attributes.efdrmod")}}selected{{/if}}>{{localize "SW25.Effect.DrMod"}}</option>
                        <option value="attributes.efdmmod" {{#if (eq change.keyname "attributes.efdnmod")}}selected{{/if}}>{{localize "SW25.Effect.DmMod"}}</option>
                        <option value="effect.allmgp" {{#if (eq change.keyname "effect.allmgp")}}selected{{/if}}>{{localize "SW25.Config.AllMgp"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "mpsave")}}
                        <select name="changes.{{i}}.keyname" class="select-keyname">
                        {{#select change.keyname}}
                        <option value="">-</option>
                        <option value="attributes.efmpsc" {{#if (eq change.keyname "attributes.efmpsc")}}selected{{/if}}>{{localize "SW25.Effect.ScMod"}}</option>
                        <option value="attributes.efmpcn" {{#if (eq change.keyname "attributes.efmpcn")}}selected{{/if}}>{{localize "SW25.Effect.CnMod"}}</option>
                        <option value="attributes.efmpwz" {{#if (eq change.keyname "attributes.efmpwz")}}selected{{/if}}>{{localize "SW25.Effect.WzMod"}}</option>
                        <option value="attributes.efmppr" {{#if (eq change.keyname "attributes.efmppr")}}selected{{/if}}>{{localize "SW25.Effect.PrMod"}}</option>
                        <option value="attributes.efmpmt" {{#if (eq change.keyname "attributes.efmpmt")}}selected{{/if}}>{{localize "SW25.Effect.MtMod"}}</option>
                        <option value="attributes.efmpfr" {{#if (eq change.keyname "attributes.efmpfr")}}selected{{/if}}>{{localize "SW25.Effect.FrMod"}}</option>
                        <option value="attributes.efmpdr" {{#if (eq change.keyname "attributes.efmpdr")}}selected{{/if}}>{{localize "SW25.Effect.DrMod"}}</option>
                        <option value="attributes.efmpdm" {{#if (eq change.keyname "attributes.efmpdm")}}selected{{/if}}>{{localize "SW25.Effect.DmMod"}}</option>
                        <option value="attributes.efmpall" {{#if (eq change.keyname "attributes.efmpall")}}selected{{/if}}>{{localize "SW25.Item.All"}}</option>
                        {{/select}}
                        </select>
                    {{/if}}
                    {{#if (eq change.keyClassification "input")}}
                        <input style="max-width: calc(60% - 7px);" type="text" name="changes.{{i}}.key" value="{{change.key}}"/>
                    {{/if}}
                </div>
                <div class="mode">
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{selectOptions ../modes selected=change.mode}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                </div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>

    <footer class="sheet-footer">
        <button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
    </footer>
</form>
