<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-center nogapmargin">
        <div class="resource">
          <label for="{{item._id}}system.conversation"><b>{{localize "SW25.Item.Language.Conversation"}}</b></label><br>
          <input id="{{item._id}}system.conversation" type="checkbox" name="system.conversation" data-dtype="Boolean" {{#if system.conversation}} checked {{/if}}/></span>
        </div>
        <div class="resource">
          <label for="{{item._id}}system.reading" for="system.reading"><b>{{localize "SW25.Item.Language.Reading"}}</b></label><br>
          <input id="{{item._id}}system.reading" type="checkbox" name="system.reading" data-dtype="Boolean" {{#if system.reading}} checked {{/if}}/></span>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
