<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-center nogapmargin">
        <div class="grid-span-2">
          <b>{{system.typename}}</b>
        </div>
        <div class="grid-span-3"></div>
        <div class="resource">
          <label for="{{item._id}}system.quantity" class="resource-label">{{localize "SW25.Quantity"}}</label>
          <input id="{{item._id}}system.quantity" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="grid-span-5"></div>
        <div class="resource">
          <label for="{{item._id}}system.price" class="resource-label">{{localize "SW25.Item.Price"}}</label>
          <input id="{{item._id}}system.price" type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span style="text-align: center;"><b>{{localize "SW25.Item.Popularity"}}</b><br>
            <input id="{{item._id}}system.info.popularity" type="number" name="system.info.popularity" value="{{system.info.popularity}}" data-dtype="String"/></span>
          <span class="grid-span-5" style="text-align: left;"><label for="{{item._id}}system.info.shape"><b>{{localize "SW25.Item.Shape"}}</b></label><br>
            <input id="{{item._id}}system.info.shape" type="text" name="system.info.shape" value="{{system.info.shape}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: left;"><label for="{{item._id}}system.info.category"><b>{{localize "SW25.Item.Category"}}</b></label><br>
            <input id="{{item._id}}system.info.category" type="text" name="system.info.category" value="{{system.info.category}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: left;"><label for="{{item._id}}system.info.create"><b>{{localize "SW25.Item.Create"}}</b></label><br>
            <input id="{{item._id}}system.info.create" type="text" name="system.info.create" value="{{system.info.create}}" data-dtype="String"/></span>

          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.info.overview"><b>{{localize "SW25.Item.Overview"}}</b></label><br>
            <input id="{{item._id}}system.info.overview" type="text" name="system.info.overview" value="{{system.info.overview}}" data-dtype="String"/></span>
        </div>
      </div>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Clickitem"}}</b><br>
            <select name="system.clickitem">
              {{selectOptions clickitemOptions selected=system.clickitem localize=true}}
            </select>
          </span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Item.Type"}}</b><br>
            <select name="system.type">
              {{selectOptions config.itemTypes selected=system.type localize=true blank="SW25.Item.Item.General"}}
            </select>
          </span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.usedice"><b>{{localize "SW25.Item.Usedice"}}</b></label><br>
            <input id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.usepower"><b>{{localize "SW25.Item.Usepower"}}</b></label><br>
            <input id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}/></span>
        </div>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}
        </div>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
