<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-center nogapmargin">
        <div class="grid-span-2"></div>
        <div class="resource grid-span-2">
          <span class="resource-label"><br>{{localize "SW25.Quantity"}}{{localize "SW25.Limit"}}</span>
        </div>
        <div class="grid-span-1"></div>
        <div class="resource">
          <label for="{{item._id}}system.quantity" class="resource-label">{{localize "SW25.Quantity"}}</label>
          <input id="{{item._id}}system.quantity" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="grid-span-2"></div>
        <div class="resource">
          <label for="{{item._id}}system.qmin" class="resource-label">{{localize "SW25.Min"}}</label>
          <input id="{{item._id}}system.qmin" type="text" name="system.qmin" value="{{system.qmin}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="{{item._id}}system.qmax" class="resource-label">{{localize "SW25.Max"}}</label>
          <input id="{{item._id}}system.qmax" type="text" name="system.qmax" value="{{system.qmax}}" data-dtype="Number"/>
        </div>
        <div class="grid-span-1"></div>
        <div class="resource">
          <label for="{{item._id}}system.price" class="resource-label">{{localize "SW25.Item.Price"}}</label>
          <input id="{{item._id}}system.price" type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    {{!--
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
    --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-2"  style="text-align: center;"><b>{{localize "SW25.Item.Resource.Battle"}}</b></label><br>
            <input id="{{item._id}}system.resource.isNotBattle" type="checkbox" name="system.resource.isNotBattle" data-dtype="Boolean" {{#if system.resource.isNotBattle}} checked {{/if}}/></span>
          <span class="grid-span-3" style="text-align: center;">
            <b>{{localize "SW25.Item.Resource.Type"}}</b><br>
            <select name="system.resource.type">
              {{selectOptions config.resourceTypes selected=system.resource.type localize=true}}
            </select>
          </span>
          <div class="grid-span-3" style="display: {{#if system.resource.isNote}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Note"}}</b><br>
            <select name="system.resource.notetype">
              {{selectOptions config.noteTypes selected=system.resource.notetype localize=true}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isMaterial}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Material"}}</b><br>
            <select name="system.resource.materialtype">
              {{selectOptions config.materialTypes selected=system.resource.materialtype localize=true}}
            </select>
            <select name="system.resource.materialrank">
              {{selectOptions config.materialRanks selected=system.resource.materialrank localize=true}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isLifeline}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Lifeline"}}</b><br>
            <select name="system.resource.lifelinetype">
              {{selectOptions config.phaseareaTypes selected=system.resource.lifelinetype localize=true}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isAbyssEx}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.AbyssEx"}}</b><br>
            <select name="system.resource.abyssextype">
              {{selectOptions config.abyssexTypes selected=system.resource.abyssextype localize=true}}
            </select>
          </div>
          <div class="grid-span-2"></div>
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
