<form class="{{cssClass}}" autocomplete="off">
<section class="sw25item">
  <header class="header">
    <section class="header__img">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </section>
    <section class="header__title">
      <h1 class="charname">
        {{#if system.isEdit}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        {{else}}
          {{#if system.isMagicitem}}
          <span class="icon-stack">
            <i class="mgc_diamond_square_fill"></i>
            <i class="mgc_quill_pen_line" style="color: #ffffff"></i>
          </span>
          {{/if}}
          {{item.name}}
          {{#if (eq system.type "blade")}}<i class="mgc_sword_line"></i>{{/if}}
          {{#if (eq system.type "blow")}}<i class="mgc_auction_line"></i>{{/if}}
          {{#if (eq system.type "both")}}<i class="mgc_sword_line"></i><i class="mgc_auction_line"></i>{{/if}}
        {{/if}}
      </h1>
    </section>
    <section class="header__subtitle">
      <span class="header__subtitle--label">
        〈{{system.categoryname}}〉{{system.rank}} / 
        {{localize "SW25.Item.Price"}} : {{system.price}}
        {{#if system.isHonoritem}}
          + {{system.honor}} {{localize "SW25.Item.Honor"}}
        {{/if}}
      </span>
      <div class="header__subtitle--overview">{{system.overview}}</div>
    </section>
    <section class="header__activate">
      <div class="header__checkbox">
        <input class="checkbox--hidden" id="{{item._id}}system.equip" type="checkbox" name="system.equip" data-dtype="Boolean" {{#if system.equip}} checked {{/if}}/>
        <label class="checkbox--label" for="{{item._id}}system.equip">{{localize "SW25.Equip"}}</label>
      </div>
      <div class="header__checkbox">
        <input class="checkbox--hidden" id="{{item._id}}system.dedicated" type="checkbox" name="system.dedicated" data-dtype="Boolean" {{#if system.dedicated}} checked {{/if}}/>
        <label class="checkbox--label" for="{{item._id}}system.dedicated">{{localize "SW25.Item.Dedicated"}}</label>
      </div>
      <div class="property">
        <label class="property--label" for="{{item._id}}system.quantity" class="resource-label">{{localize "SW25.Quantity"}}</label>
        <input class="property--value align-center" id="{{item._id}}system.quantity" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
      </div>
    </section>
    <section class="togglearea">
      <label class="togglearea__btn">
        <input id="{{item._id}}isEdit" type="checkbox" name="system.isEdit" {{#if system.isEdit}}checked{{/if}} data-dtype="Boolean"/>
        <div class="togglearea__btn--slider"><i class="fa-solid fa-wrench"></i></div>
      </label>
    </section>
  </header>

  <main class="main">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary" style="margin: 0px;">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <section class="tab" data-group="primary" data-tab="description" style="height: 100%;">
      <div class="grid grid-6col flex-group-left">
        <div class="grid-span-1 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Popularity"}}
          </div>
          <div class="overview--value">
            {{system.info.popularity}}
          </div>
        </div>
        <div class="grid-span-3 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Shape"}}
          </div>
          <div class="overview--value">
            {{system.info.shape}}
          </div>
        </div>
        <div class="grid-span-2 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Category"}}
          </div>
          <div class="overview--value">
            〈{{system.categoryname}}〉{{system.rank}}
          </div>
        </div>
        <div class="grid-span-4 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Overview"}}
          </div>
          <div class="overview--value">
            {{system.overview}}
          </div>
        </div>
        <div class="grid-span-2 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Create"}}
          </div>
          <div class="overview--value">
            {{system.info.create}}
          </div>
        </div>
      </div>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </section>

    {{!-- Detail Tab --}}
    <section class="tab details" data-group="primary" data-tab="details">

      {{!-- Basic Category --}}
      <fieldset class="category flexrow grid grid-10col">
        <legend class="category__title">
          {{localize "SW25.Item.Field.Basic"}}
        </legend>
        <div class="grid-span-5 property">
          <label class="property--label">{{localize "SW25.Item.Clickitem"}}</label>
          <select class="property--value" name="system.clickitem"{{#unless system.isEdit}} disabled{{/unless}}>
            {{selectOptions clickitemOptions selected=system.clickitem localize=true}}
          </select>
        </div>
        <div class="blank"></div>
        <div class="grid-span-2">
          <input class="checkbox--hidden" id="{{item._id}}system.selfbuff" type="checkbox" name="system.selfbuff" data-dtype="Boolean" {{#if system.selfbuff}} checked {{/if}}{{#unless system.isEdit}} disabled{{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.selfbuff">{{localize "SW25.Item.Selfbuff"}}</label>
        </div>
        <div class="blank grid-span-2"></div>
        <div class="grid-span-10 property">
          <label class="property--label" for="{{item._id}}system.overview">{{localize "SW25.Item.Overview"}}</label>
          <input class="property--value" id="{{item._id}}system.overview" type="text" name="system.overview" value="{{system.overview}}" data-dtype="String"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
      </fieldset>

      {{!-- Item Category --}}
      <fieldset class="category flexrow grid grid-10col">
        <legend class="category__title">
          {{localize "SW25.Item.Field.Item"}}
        </legend>
        <div class="grid-span-4 property">
          <label class="property--label" for="{{item._id}}system.category">{{localize "SW25.Item.Category"}}</label>
          <select class="property--value" id="{{item._id}}system.category" name="system.category"{{#unless system.isEdit}} disabled {{/unless}}>
            {{selectOptions config.weaponCategories selected=system.category localize=true blank="-"}}
          </select>
        </div>
        <div class="grid-span-1 property">
          <select class="property--value" name="system.rank"{{#unless system.isEdit}} disabled {{/unless}}>
            {{selectOptions config.ranks selected=system.rank blank="-"}}
          </select>
        </div>

        <div class="grid-span-5 property">
          <label class="property--label" for="{{item._id}}system.price">{{localize "SW25.Item.Price"}}</label>
          <input class="property--value" id="{{item._id}}system.price" type="text" name="system.price" value="{{system.price}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
        </div>

        <div class="grid-span-3 property">
          <input class="checkbox--hidden" id="{{item._id}}system.isMagicitem" type="checkbox" name="system.isMagicitem" data-dtype="Boolean" {{#if system.isMagicitem}} checked {{/if}}{{#unless system.isEdit}} disabled{{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.isMagicitem">{{localize "SW25.Item.MagicItem"}}</label>
        </div>
        <div class="grid-span-3 property">
          <input class="checkbox--hidden" id="{{item._id}}system.isHonoritem" type="checkbox" name="system.isHonoritem" data-dtype="Boolean" {{#if system.isHonoritem}} checked {{/if}}{{#unless system.isEdit}} disabled{{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.isHonoritem">{{localize "SW25.Item.HonorItem"}}</label>
        </div>
        <div class="grid-span-4 property">
          <label class="property--label" for="{{item._id}}system.honor">{{localize "SW25.Item.Honor"}}</label>
          <input class="property--value" id="{{item._id}}system.honor" type="text" name="system.honor" value="{{system.honor}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
        </div>

        <div class="grid-span-1 property-col">
          <label class="property--label-col" for="{{item._id}}system.info.popularity">{{localize "SW25.Item.Popularity"}}</label>
          <input class="property--value" id="{{item._id}}system.info.popularity" type="number" name="system.info.popularity" value="{{system.info.popularity}}" data-dtype="String"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
        <div class="grid-span-7 property-col">
          <label class="property--label-col" for="{{item._id}}system.info.shape">{{localize "SW25.Item.Shape"}}</label>
          <input class="property--value" id="{{item._id}}system.info.shape" type="text" name="system.info.shape" value="{{system.info.shape}}" data-dtype="String"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
        <div class="grid-span-2 property-col">
          <label class="property--label-col" for="{{item._id}}system.info.create">{{localize "SW25.Item.Create"}}</label>
          <input class="property--value" id="{{item._id}}system.info.create" type="text" name="system.info.create" value="{{system.info.create}}" data-dtype="String"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>

        <div class="grid-span-2 property-col">
          <label class="property--label-col" for="{{item._id}}system.type">{{localize "SW25.Item.Weapon.Type"}}</label>
          <select class="property--value" id="{{item._id}}system.type" name="system.type"{{#unless system.isEdit}} disabled{{/unless}}>
            {{selectOptions config.weaponTypes selected=system.type localize=true blank="-"}}
          </select>
        </div>
        <div class="grid-span-2 property-col">
          <label class="property--label-col" for="{{item._id}}system.usage">{{localize "SW25.Item.Weapon.Usage"}}</label>
          <select class="property--value" id="{{item._id}}system.usage" name="system.usage"{{#unless system.isEdit}} disabled{{/unless}}>
            {{selectOptions config.weaponUsages selected=system.usage localize=true blank="-"}}
          </select>
        </div>
        <div class="grid-span-1 property-col">
          <label class="property--label-col" for="{{item._id}}system.reqstr">{{localize "SW25.Item.Reqstr"}}</label>
          <input class="property--value" id="{{item._id}}system.reqstr" type="text" name="system.reqstr" value="{{system.reqstr}}" data-dtype="Number"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
        <div class="grid-span-1 property-col">
          <label class="property--label-col" for="{{item._id}}system.hit">{{localize "SW25.Item.Weapon.Hit"}}</label>
          <input class="property--value" id="{{item._id}}system.hit" type="text" name="system.hit" value="{{system.hit}}" data-dtype="Number"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
        <div class="grid-span-1 property-col">
          <label class="property--label-col" for="{{item._id}}system.dmod">{{localize "SW25.Item.Weapon.Dmod"}}</label>
          <input class="property--value" id="{{item._id}}system.dmod" type="text" name="system.dmod" value="{{system.dmod}}" data-dtype="Number"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>
        <div class="grid-span-3 property-col">
          <label class="property--label-col" for="{{item._id}}system.range">{{localize "SW25.Item.Weapon.Range"}}</label>
          <input class="property--value" id="{{item._id}}system.range" type="text" name="system.range" value="{{system.range}}" data-dtype="String"{{#unless system.isEdit}} disabled{{/unless}}/>
        </div>

        {{!-- Elements Category --}}
        <div class="grid-span-10">
          {{> "systems/sw25/templates/item/parts/item-elements.hbs" isMagic=true isPhysical=true}}
        </div>

        {{!-- Resource Category --}}
        <fieldset class="subcategory flexrow grid grid-10col">
          <legend class="category__title">
            {{localize "SW25.Item.Field.Resource"}}
          </legend>
          <div class="grid-span-2 property">
            <label class="property--label" for="{{item._id}}system.basehpcost">HP{{localize "SW25.Cost"}}</label>
            <input class="property--value" id="{{item._id}}system.basehpcost" type="text" name="system.basehpcost" value="{{system.basehpcost}}" data-dtype="String"{{#unless system.isEdit}} disabled {{/unless}}/>
          </div>
          <div class="grid-span-1 property">
            <input class="property--value" id="{{item._id}}system.maxhpcost" type="text" name="system.maxhpcost" value="{{system.maxhpcost}}" data-dtype="Number" placeholder="{{localize "SW25.Max"}}"{{#unless system.isEdit}} disabled {{/unless}}/>
          </div>
          <div class="grid-span-2 property">
            <label class="property--label" for="{{item._id}}system.basempcost">MP{{localize "SW25.Cost"}}</label>
            <input class="property--value" id="{{item._id}}system.basempcost" style="max-width: calc(50% - 7px);" type="text" name="system.basempcost" value="{{system.basempcost}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
          </div>
          <div class="grid-span-5"></div>
          <div class="grid-span-7 property">
            <label class="property--label">{{localize "SW25.Item.Resuse"}}</label>
            <select class="property--value" name="system.resuse"{{#unless system.isEdit}} disabled {{/unless}}>
              {{selectOptions system.itemlist selected=system.resuse valueAttr="itemId" labelAttr="itemName" blank="SW25.Item.None" localize=true}}
            </select>
          </div>
          <div class="grid-span-3 property">
            <input class="property--value" id="{{item._id}}system.resusequantity" type="text" name="system.resusequantity" value="{{system.resusequantity}}" data-dtype="Number" placeholder="{{localize "SW25.Item.Resquantity"}}"{{#unless system.isEdit}} disabled {{/unless}}/>
            <input class="checkbox--hidden" id="{{item._id}}system.autouseres" type="checkbox" name="system.autouseres" data-dtype="Boolean" {{#if system.autouseres}} checked {{/if}}{{#unless system.isEdit}} disabled {{/unless}}/>
            <label class="checkbox--label" for="{{item._id}}system.autouseres">{{localize "SW25.Item.AutoUseres"}}</label>
              </span>
            </div>
          </div>
        </fieldset>
      </fieldset>

      {{!-- Use-dice Category --}}
      <fieldset class="category">
        <legend class="category__title">
          <input class="checkbox--hidden" id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}{{#unless system.isEdit}} disabled{{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.usedice">{{localize "SW25.Item.Usedice"}}</label>
        </legend>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}
        </div>
      </fieldset>

      {{!-- Use-power Category --}}
      <fieldset class="category">
        <legend class="category__title">
          <input class="checkbox--hidden" id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}{{#unless system.isEdit}} disabled{{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.usepower">{{localize "SW25.Item.Usepower"}}</label>
        </legend>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </fieldset>
    </section>

    {{!-- Effects Tab --}}
    <section class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </section>
  </main>
</section>
</form>