<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-left nogapmargin">
        <div class="grid-span-6">
          {{#if system.constant}}○{{/if}}{{#if system.main}}▶{{/if}}{{#if system.aux}}≫{{/if}}{{#if system.prep}}△{{/if}}{{#if system.decla}}□{{/if}}
        </div>
        {{#if system.usedice1}}
        <div class="grid-span-2">
          <b>{{system.label1}}</b> : {{system.checkbase1}}({{system.checkbasefix1}})
        </div>
        {{/if}}
        {{#if system.usedice2}}
        <div class="grid-span-2">
          <b>{{system.label2}}</b> : {{system.checkbase2}}({{system.checkbasefix2}})
        </div>
        {{/if}}
        {{#if system.usedice3}}
        <div class="grid-span-2">
          <b>{{system.label3}}</b> : {{system.checkbase3}}({{system.checkbasefix3}})
        </div>
        {{/if}}
        {{#if system.usepower}}
        <div class="grid-span-6">
          <b>{{system.labelmonpow}}</b> : k{{system.power}}{{#if system.totalcvalue}}@{{system.totalcvalue}}{{/if}}{{#if system.powerbase}}+{{system.powerbase}}{{/if}}
        </div>
        {{/if}}
        {{#if system.remark}}
        <div class="grid-span-6">
          <b>{{system.remark}}</b>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col gap-s">
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Clickitem"}}</b><br>
            <select name="system.clickitem">
              {{#select system.clickitem}}
              <option value="all">{{localize "SW25.Item.All"}}</option>
              <option value="description">{{localize "SW25.Item.Onlydescription"}}</option>
              <option value="dice1">{{localize "SW25.Check"}} 1</option>
              <option value="dice2">{{localize "SW25.Check"}} 2</option>
              <option value="dice3">{{localize "SW25.Check"}} 3</option>
              <option value="power">{{localize "SW25.Item.Powerroll"}}</option>
              {{/select}}
           </select>
          </span>
          <span class="grid-span-2"></span>
          <span style="text-align: center;"><label for="system.usedice1"><b>{{localize "SW25.Item.Monsterability.Check1"}}</b></label><br>
          <input type="checkbox" name="system.usedice1" data-dtype="Boolean" {{#if system.usedice1}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.usedice2"><b>{{localize "SW25.Item.Monsterability.Check2"}}</b></label><br>
          <input type="checkbox" name="system.usedice2" data-dtype="Boolean" {{#if system.usedice2}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.usedice3"><b>{{localize "SW25.Item.Monsterability.Check3"}}</b></label><br>
          <input type="checkbox" name="system.usedice3" data-dtype="Boolean" {{#if system.usedice3}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="system.usepower"><b>{{localize "SW25.Item.Usepower"}}</b></label><br>
          <input type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.constant"><b>{{localize "SW25.Item.Constantabbr"}}</b></label><br>
          <input type="checkbox" name="system.constant" data-dtype="Boolean" {{#if system.constant}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.main"><b>{{localize "SW25.Item.Mainabbr"}}</b></label><br>
          <input type="checkbox" name="system.main" data-dtype="Boolean" {{#if system.main}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.aux"><b>{{localize "SW25.Item.Auxabbr"}}</b></label><br>
          <input type="checkbox" name="system.aux" data-dtype="Boolean" {{#if system.aux}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.prep"><b>{{localize "SW25.Item.Prepabbr"}}</b></label><br>
          <input type="checkbox" name="system.prep" data-dtype="Boolean" {{#if system.prep}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="system.decla"><b>{{localize "SW25.Item.Declaabbr"}}</b></label><br>
          <input type="checkbox" name="system.decla" data-dtype="Boolean" {{#if system.decla}} checked {{/if}}/></span>
          <span></span>
          <span class="grid-span-4" style="text-align: left;"><b>{{localize "SW25.Item.Monsterability.Remark"}}</b><br><input type="text" name="system.remark" value="{{system.remark}}" data-dtype="String"/></span>
        </div>
        <div style="display: {{#if system.usedice1}}block{{else}}none{{/if}};">
          <div class="flexrow grid grid-8col">
            <label class="resource-label" style="text-decoration: underline;">{{localize "SW25.Check"}}1</label>
            <span class="grid-span-3" style="text-align: left;"><b>{{localize "SW25.Item.Monsterability.Label"}}</b><input style="max-width: calc(60% - 7px);" type="text" name="system.label1" value="{{system.label1}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: left;">{{localize "SW25.Basenumber"}}{{localize "SW25.Value"}} : <b>{{system.checkbase1}} ({{system.checkbasefix1}})</b></span>
            <span class="grid-span-2" style="text-align: left;">
              <select name="system.applycheck1">
                {{#select system.applycheck1}}
                <option value="-">{{localize "SW25.Item.Noapply"}}</option>
                <option value="on">{{localize "SW25.Item.applyon"}}</option>
                {{/select}}
             </select>
            </span>
          </div>
          <div class="flexrow grid grid-8col">
            <span style="text-align: center;"><b>{{localize "SW25.Basenumber"}}</b><br><input type="text" name="system.checkbasemod1" value="{{system.checkbasemod1}}" data-dtype="Number"/></span>
            <span style="text-align: center;"><label for="system.usefix1"><b>{{localize "SW25.Item.Monsterability.Usefix"}}</b></label><br>
            <input type="checkbox" name="system.usefix1" data-dtype="Boolean" {{#if system.usefix1}} checked {{/if}}/></span>
            <span style="text-align: center;"><b>{{localize "SW25.Modifier"}}</b><br><input type="text" name="system.checkmod1" value="{{system.checkmod1}}" data-dtype="Number"/></span>
            <div class="grid-span-2 flex-group-center">
              <span style="text-align: center;"><label for="system.customdice1"><b>{{localize "SW25.Item.Customdice"}}</b></label><br>
              <input type="checkbox" name="system.customdice1" data-dtype="Boolean" {{#if system.customdice1}} checked {{/if}}/></span>
            </div>
            <div class="grid-span-3" style="display: {{#if system.customdice1}}block{{else}}none{{/if}};">
              <label class="resource-label">{{localize "SW25.Item.Formula"}}</label>
              <input type="text" name="system.customformula1" value="{{system.customformula1}}" data-dtype="String"/>
            </div>
            <div class="grid-span-2">
            </div>
          </div>
        </div>
        <div style="display: {{#if system.usedice2}}block{{else}}none{{/if}};">
          <div class="flexrow grid grid-8col">
            <label class="resource-label" style="text-decoration: underline;">{{localize "SW25.Check"}}2</label>
            <span class="grid-span-3" style="text-align: left;"><b>{{localize "SW25.Item.Monsterability.Label"}}</b><input style="max-width: calc(60% - 7px);" type="text" name="system.label2" value="{{system.label2}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: left;">{{localize "SW25.Basenumber"}}{{localize "SW25.Value"}} : <b>{{system.checkbase2}} ({{system.checkbasefix2}})</b></span>
            <span class="grid-span-2" style="text-align: left;">
              <select name="system.applycheck2">
                {{#select system.applycheck2}}
                <option value="-">{{localize "SW25.Item.Noapply"}}</option>
                <option value="on">{{localize "SW25.Item.applyon"}}</option>
                {{/select}}
             </select>
            </span>
          </div>
          <div class="flexrow grid grid-8col">
            <span style="text-align: center;"><b>{{localize "SW25.Basenumber"}}</b><br><input type="text" name="system.checkbasemod2" value="{{system.checkbasemod2}}" data-dtype="Number"/></span>
            <span style="text-align: center;"><label for="system.usefix2"><b>{{localize "SW25.Item.Monsterability.Usefix"}}</b></label><br>
            <input type="checkbox" name="system.usefix2" data-dtype="Boolean" {{#if system.usefix2}} checked {{/if}}/></span>
            <span style="text-align: center;"><b>{{localize "SW25.Modifier"}}</b><br><input type="text" name="system.checkmod2" value="{{system.checkmod2}}" data-dtype="Number"/></span>
            <div class="grid-span-2 flex-group-center">
              <span style="text-align: center;"><label for="system.customdice2"><b>{{localize "SW25.Item.Customdice"}}</b></label><br>
              <input type="checkbox" name="system.customdice2" data-dtype="Boolean" {{#if system.customdice2}} checked {{/if}}/></span>
            </div>
            <div class="grid-span-3" style="display: {{#if system.customdice2}}block{{else}}none{{/if}};">
              <label class="resource-label">{{localize "SW25.Item.Formula"}}</label>
              <input type="text" name="system.customformula2" value="{{system.customformula2}}" data-dtype="String"/>
            </div>
            <div class="grid-span-2">
            </div>
          </div>
        </div>
        <div style="display: {{#if system.usedice3}}block{{else}}none{{/if}};">
          <div class="flexrow grid grid-8col">
            <label class="resource-label" style="text-decoration: underline;">{{localize "SW25.Check"}}3</label>
            <span class="grid-span-3" style="text-align: left;"><b>{{localize "SW25.Item.Monsterability.Label"}}</b><input style="max-width: calc(60% - 7px);" type="text" name="system.label3" value="{{system.label3}}" data-dtype="String"/></span>
            <span class="grid-span-2" style="text-align: left;">{{localize "SW25.Basenumber"}}{{localize "SW25.Value"}} : <b>{{system.checkbase3}} ({{system.checkbasefix3}})</b></span>
            <span class="grid-span-2" style="text-align: left;">
              <select name="system.applycheck3">
                {{#select system.applycheck3}}
                <option value="-">{{localize "SW25.Item.Noapply"}}</option>
                <option value="on">{{localize "SW25.Item.applyon"}}</option>
                {{/select}}
             </select>
            </span>
          </div>
          <div class="flexrow grid grid-8col">
            <span style="text-align: center;"><b>{{localize "SW25.Basenumber"}}</b><br><input type="text" name="system.checkbasemod3" value="{{system.checkbasemod3}}" data-dtype="Number"/></span>
            <span style="text-align: center;"><label for="system.usefix3"><b>{{localize "SW25.Item.Monsterability.Usefix"}}</b></label><br>
            <input type="checkbox" name="system.usefix3" data-dtype="Boolean" {{#if system.usefix3}} checked {{/if}}/></span>
            <span style="text-align: center;"><b>{{localize "SW25.Modifier"}}</b><br><input type="text" name="system.checkmod3" value="{{system.checkmod3}}" data-dtype="Number"/></span>
            <div class="grid-span-2 flex-group-center">
              <span style="text-align: center;"><label for="system.customdice3"><b>{{localize "SW25.Item.Customdice"}}</b></label><br>
              <input type="checkbox" name="system.customdice3" data-dtype="Boolean" {{#if system.customdice3}} checked {{/if}}/></span>
            </div>
            <div class="grid-span-3" style="display: {{#if system.customdice3}}block{{else}}none{{/if}};">
              <label class="resource-label">{{localize "SW25.Item.Formula"}}</label>
              <input type="text" name="system.customformula3" value="{{system.customformula3}}" data-dtype="String"/>
            </div>
            <div class="grid-span-2">
            </div>
          </div>
        </div>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          <div class="flexrow grid grid-8col">
            <label class="resource-label" style="text-decoration: underline;">{{localize "SW25.Item.Powertable"}}</label>
            <span class="grid-span-3" style="text-align: left;"><b>{{localize "SW25.Item.Monsterability.Label"}}</b><input style="max-width: calc(60% - 7px);" type="text" name="system.labelmonpow" value="{{system.labelmonpow}}" data-dtype="String"/>
            </span><span class="grid-span-2" style="text-align: left;">{{localize "SW25.Item.Power"}}{{localize "SW25.Basenumber"}}{{localize "SW25.Value"}} : <b>{{system.powerbase}}</b></span>
            <span class="grid-span-2" style="text-align: left;">
              <select name="system.applypower">
                {{#select system.applypower}}
                <option value="-">{{localize "SW25.Item.Noapply"}}</option>
                <option value="on">{{localize "SW25.Item.applyon"}}</option>
                {{/select}}
             </select>
            </span>
          </div>
          <div class="flexrow grid grid-8col">
            <span style="text-align: center;"><b>{{localize "SW25.Item.Power"}}</b><br><input type="text" name="system.power" value="{{system.power}}" data-dtype="Number"/></span>
            <span style="text-align: center;"><b>{{localize "SW25.Item.Cvalue"}}</b><br><input type="text" name="system.cvalue" value="{{system.cvalue}}" data-dtype="Number"/></span>
            <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Power"}}{{localize "SW25.Check"}}{{localize "SW25.Modifier"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.powermod" value="{{system.powermod}}" data-dtype="Number"/></span>
            <span style="text-align: center;"><label for="system.halfpow"><b>{{localize "SW25.Item.Halfpow"}}</b></label><br>
            <input type="checkbox" name="system.halfpow" data-dtype="Boolean" {{#if system.halfpow}} checked {{/if}}/></span>
            <div class="grid-span-1"></div>
            <span class="grid-span-2" style="text-align: center;"><label for="system.showpowmod"><b>{{localize "SW25.Item.Particularmod"}}</b></label><br>
            <input type="checkbox" name="system.showpowmod" data-dtype="Boolean" {{#if system.showpowmod}} checked {{/if}}/></span>
          </div>
          <div class="grid-powertable">
            <div class="pt-item pt-label">3</div>
            <div class="pt-item pt-label">4</div>
            <div class="pt-item pt-label">5</div>
            <div class="pt-item pt-label">6</div>
            <div class="pt-item pt-label">7</div>
            <div class="pt-item pt-label">8</div>
            <div class="pt-item pt-label">9</div>
            <div class="pt-item pt-label">10</div>
            <div class="pt-item pt-label">11</div>
            <div class="pt-item pt-label">12</div>
            <div class="pt-item"><input type="text" name="system.pt3" value="{{system.pt3}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt4" value="{{system.pt4}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt5" value="{{system.pt5}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt6" value="{{system.pt6}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt7" value="{{system.pt7}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt8" value="{{system.pt8}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt9" value="{{system.pt9}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt10" value="{{system.pt10}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt11" value="{{system.pt11}}" data-dtype="Number"/></div>
            <div class="pt-item"><input type="text" name="system.pt12" value="{{system.pt12}}" data-dtype="Number"/></div>
          </div>
          <div style="display: {{#if system.showpowmod}}block{{else}}none{{/if}};">
            <div class="flexcol">
              <div class="flexrow grid grid-10col">
                <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Halfpowmod"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.halfpowmod" value="{{system.halfpowmod}}" data-dtype="Number"/></span>
                <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Lethaltech"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.lethaltech" value="{{system.lethaltech}}" data-dtype="Number"/></span>
                <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Criticalray"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.criticalray" value="{{system.criticalray}}" data-dtype="Number"/></span>
                <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Pharmtool"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.pharmtool" value="{{system.pharmtool}}" data-dtype="Number"/></span>
                <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Powup"}}</b><br><input style="max-width: calc(50% - 7px);" type="text" name="system.powup" value="{{system.powup}}" data-dtype="Number"/></span>
              </div>
              <div>
                {{localize "SW25.Item.Cwarn"}}<br>
                {{localize "SW25.Item.halfwarn"}}<br>
                {{localize "SW25.Item.Nullwarn"}}<br>
                {{localize "SW25.Item.Pharmwarn"}}<br>
                {{localize "SW25.Item.Pharmwarn2"}}<br>
                {{localize "SW25.Item.Powupwarn"}}<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
