<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-left nogapmargin">
        <div class="grid-span-2">
          <b>{{localize "SW25.ActionTable"}} : </b>{{system.actiondicename}}
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Action.ActionValue"}} ({{localize "SW25.Item.Action.ActionResult"}}) : </b>{{system.actionvalue}} ({{system.actionresult}})
        </div>
        <div class="grid-span-2">
          {{#if system.target}}<b>{{localize "SW25.Target"}} : </b>{{system.target}}{{/if}}
        </div>
        <div class="grid-span-6 textalign-left flexrow">
          <div class="itemheader-label">
            <span class="resource-label">{{localize "SW25.Item.Action.Dialog"}}:</span>
          </div>
          <div class="itemheader-value">
            <span class="itemheader-wordwrap">{{system.dialog}}</span>
          </div>
        </div>
        <div class="grid-span-6 textalign-left flexrow">
          <div class="itemheader-label">
            <span class="resource-label">{{localize "SW25.Item.Action.Action"}}:</span>
          </div>
          <div class="itemheader-value">
            <span class="itemheader-wordwrap">{{{system.displayaction}}}</span>
          </div>
        </div>
        <div class="grid-span-6 textalign-left flexrow">
          <div class="itemheader-label">
            <span class="resource-label">{{localize "SW25.Item.Action.ActionEffect"}}:</span>
          </div>
          <div class="itemheader-value">
            <span class="itemheader-wordwrap">{{{system.displayactioneffect}}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Clickitem"}}</b><br>
            <select name="system.clickitem">
              {{selectOptions clickitemOptions selected=system.clickitem localize=true}}
            </select>
          </span>
          <span class="grid-span-4"></span>
          <span class="grid-span-1"  style="text-align: center;"><label for="{{item._id}}system.usedice1"><b>{{localize "SW25.Item.Action.ActionValue"}}</b></label><br>
            <input id="{{item._id}}system.usedice1" type="checkbox" name="system.usedice1" data-dtype="Boolean" {{#if system.usedice1}} checked {{/if}}/></span>
          <span class="grid-span-1"  style="text-align: center;"><label for="{{item._id}}system.usedice"><b>{{localize "SW25.Check"}}</b></label><br>
            <input id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}/></span>
          <span class="grid-span-1"  style="text-align: center;"><label for="{{item._id}}system.usepower"><b>{{localize "SW25.Item.Power"}}</b></label><br>
            <input id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}/></span>
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.ActionTable"}}</b><br>
            <select name="system.actiondice">
              {{#select system.actiondice}}
              <option value="">-</option>
              <option value="f1">{{localize "SW25.Fellow"}}:1-2</option>
              <option value="f3">{{localize "SW25.Fellow"}}:3-4</option>
              <option value="f5">{{localize "SW25.Fellow"}}:5</option>
              <option value="f6">{{localize "SW25.Fellow"}}:6</option>
              <option value="d1">{{localize "SW25.Daemon"}}:1</option>
              <option value="d2">{{localize "SW25.Daemon"}}:2-3</option>
              <option value="d4">{{localize "SW25.Daemon"}}:4-5</option>
              <option value="d6">{{localize "SW25.Daemon"}}:6</option>
              {{/select}}
            </select>
          </span>
          {{#if system.actiondice}}
          <span class="grid-span-1" style="text-align: center;"><b>{{localize "SW25.Item.Action.ActionResult"}}</b><br>
            <select name="system.actionresult">
              {{#select system.actionresult}}
              {{#if (eq system.actiondice "f1")}}
              <option value="7">7</option>
              <option value="6">6</option>
              {{/if}}
              {{#if (eq system.actiondice "f3")}}
              <option value="8">8</option>
              <option value="5">5</option>
              {{/if}}
              {{#if (eq system.actiondice "f5")}}
              <option value="9">9</option>
              <option value="4">4</option>
              {{/if}}
              {{#if (eq system.actiondice "f6")}}
              <option value="10">10</option>
              <option value="3">3</option>
              {{/if}}
              {{#if (eq system.actiondice "d1")}}
              <option value="8">8</option>
              {{/if}}
              {{#if (eq system.actiondice "d2")}}
              <option value="8">8</option>
              {{/if}}
              {{#if (eq system.actiondice "d4")}}
              <option value="9">9</option>
              {{/if}}
              {{#if (eq system.actiondice "d6")}}
              <option value="10">10</option>
              {{/if}}
              {{/select}}
            </select>
          </span>
          {{else}}
          <span class="grid-span-1"></span>
          {{/if}}
          <span class="grid-span-1"></span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.basempcost"><b>MP{{localize "SW25.Cost"}}</b></label><br>
            <input id="{{item._id}}system.basempcost" style="max-width: calc(50% - 7px);" type="text" name="system.basempcost" value="{{system.basempcost}}" data-dtype="Number"/></span>
          <span class="grid-span-3" style="text-align: center;"><label for="{{item._id}}system.target"><b>{{localize "SW25.Target"}}</b></label><br>
            <input id="{{item._id}}system.target" style="max-width: calc(90% - 7px);" type="text" name="system.target" value="{{system.target}}" data-dtype="String"/></span>
          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.dialog"><b>{{localize "SW25.Item.Action.Dialog"}}</b></label><br>
            <input id="{{item._id}}system.dialog" type="text" name="system.dialog" value="{{system.dialog}}" data-dtype="String"/></span>        
          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.action"><b>{{localize "SW25.Item.Action.Action"}}</b></label><br>
            <textarea class="textarea-editor" id="{{item._id}}system.action" style="height: 26px; min-height: 26px;" data-path="action">{{system.action}}</textarea></span>
          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.actioneffect"><b>{{localize "SW25.Item.Action.ActionEffect"}}</b></label><br>
            <textarea class="textarea-editor" id="{{item._id}}system.actioneffect" style="height: 26px; min-height: 26px;" data-path="actioneffect">{{system.actioneffect}}</textarea></span>
        </div>
        <div style="display: {{#if system.usedice1}}block{{else}}none{{/if}};">
          <div class="flexrow grid grid-10col">
            <span class="resource-label grid-span-2" style="text-decoration: underline;">{{localize "SW25.Item.Action.ActionValue"}}{{localize "SW25.Setting"}}</span>
            <span class="grid-span-2" style="text-align: left;">{{localize "SW25.Item.Action.ActionValue"}}{{localize "SW25.Basenumber"}} : <b>{{system.checkbase1}}</b></span>
            {{!--
            <span class="grid-span-2" style="text-align: left;">
              <select name="system.applycheck1">
                {{selectOptions applyOptions selected=system.applycheck1 localize=true}}
              </select>
            </span>
            --}}
            <span class="grid-span-2"></span>
            <span class="grid-span-4">
              {{#if (eq system.applycheck1 "custom")}}
              <div class="flexcol">
                <div>
                  <label for="{{item._id}}ckpdbt1"><input id="{{item._id}}ckpdbt1" type="checkbox" class="small-checkbox" name="system.ckpdbt1" data-dtype="Boolean" {{#if system.ckpdbt1}} checked {{/if}}/>{{localize "SW25.Item.pd"}}</label>
                  <label for="{{item._id}}ckmdbt1"><input id="{{item._id}}ckmdbt1" type="checkbox" class="small-checkbox" name="system.ckmdbt1" data-dtype="Boolean" {{#if system.ckmdbt1}} checked {{/if}}/>{{localize "SW25.Item.md"}}</label>
                  <label for="{{item._id}}ckcdbt1"><input id="{{item._id}}ckcdbt1" type="checkbox" class="small-checkbox" name="system.ckcdbt1" data-dtype="Boolean" {{#if system.ckcdbt1}} checked {{/if}}/>{{localize "SW25.Item.cd"}}</label>
                </div>
                <div>
                  <label for="{{item._id}}ckhrbt1"><input id="{{item._id}}ckhrbt1" type="checkbox" class="small-checkbox" name="system.ckhrbt1" data-dtype="Boolean" {{#if system.ckhrbt1}} checked {{/if}}/>{{localize "SW25.Item.hr"}}</label>
                  <label for="{{item._id}}ckmrbt1"><input id="{{item._id}}ckmrbt1" type="checkbox" class="small-checkbox" name="system.ckmrbt1" data-dtype="Boolean" {{#if system.ckmrbt1}} checked {{/if}}/>{{localize "SW25.Item.mr"}}</label>
                </div>
              </div>
              {{/if}}
            </span>
          </div>
          <div class="flexrow grid grid-8col">
            <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Action.ActionValue"}}{{localize "SW25.Skillname"}}</b><br>
              <select name="system.checkskill1">
                <option value="">-</option>
                <option value="adv" {{#if (eq system.checkskill1 "adv")}}selected{{/if}}>{{localize "SW25.Attributes.Advlevel"}}</option>
                {{selectOptions system.skilllist selected=system.checkskill1 valueAttr="name" labelAttr="name"}}
              </select>
            </span>
            <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Action.ActionValue"}}{{localize "SW25.Abilityname"}}</b><br>
              <select name="system.checkabi1">
                {{selectOptions config.abilities selected=system.checkabi1 localize=true blank="-"}}
              </select>
            </span>
            <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.checkmod1"><b>{{localize "SW25.Basenumber"}}{{localize "SW25.Value"}}</b></label><br>
              <input id="{{item._id}}system.checkmod1" style="max-width: calc(50% - 7px);" type="text" name="system.checkmod1" value="{{system.checkmod1}}" data-dtype="Number"/></span>
            <div class="grid-span-2"></div>

            <div class="grid-span-2 flex-group-center">
              <span style="text-align: center;"><label for="{{item._id}}system.dice1.resist.type"><b>{{localize "SW25.Item.Resisttype"}}</b></label><br>
              <select name="system.dice1.resist.type">
                {{selectOptions config.resistCheck selected=system.dice1.resist.type localize=true blank="-"}}
              </select>
            </div>
            {{#if (eq system.dice1.resist.type "input")}}
            <div class="grid-span-3" style="display: {{#if system.dice1.resist.type}}block{{else}}none{{/if}};">
              <label for="{{item._id}}system.dice1.resist.input" class="resource-label">{{localize "SW25.Item.Resistinput"}}</label>
              <input id="{{item._id}}system.dice1.resist.input" type="text" name="system.dice1.resist.input" value="{{system.dice1.resist.input}}" data-dtype="String"/>
            </div>
            {{/if}}
            <div class="grid-span-4">
              <span style="text-align: center;"><label for="{{item._id}}system.dice1.resist.result"><b>{{localize "SW25.Item.Resisttype"}}</b></label><br>
              <select name="system.dice1.resist.result">
                {{selectOptions config.resistResult selected=system.dice1.resist.result localize=true blank="-"}}
              </select>
            </div>
          </div>
          {{!--
          <div class="flexcol grid grid-8col nogapmargin">
            <div class="grid-span-2 flex-group-center">
              <span style="text-align: center;"><label for="{{item._id}}system.customdice1"><b>{{localize "SW25.Item.Customdice"}}</b></label><br>
                <input id="{{item._id}}system.customdice1" type="checkbox" name="system.customdice1" data-dtype="Boolean" {{#if system.customdice1}} checked {{/if}}/></span>
            </div>
            <div class="grid-span-4" style="display: {{#if system.customdice1}}block{{else}}none{{/if}};">
              <label for="{{item._id}}customformula1" class="resource-label">{{localize "SW25.Item.Formula"}}</label>
              <input id="{{item._id}}customformula1" type="text" name="system.customformula1" value="{{system.customformula1}}" data-dtype="String"/>
            </div>
            <div class="grid-span-2">
            </div>
          </div>
          --}}
        </div>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}
        </div>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
