<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-center nogapmargin">
        <div class="grid-span-2"></div>
        <div class="resource grid-span-2">
          <span class="resource-label"><br>{{localize "SW25.Quantity"}}{{localize "SW25.Limit"}}</span>
        </div>
        <div class="grid-span-1"></div>
        <div class="resource">
          <label for="{{item._id}}system.quantity" class="resource-label">{{localize "SW25.Quantity"}}</label>
          <input id="{{item._id}}system.quantity" type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="grid-span-2"></div>
        <div class="resource">
          <label for="{{item._id}}system.qmin" class="resource-label">{{localize "SW25.Min"}}</label>
          <input id="{{item._id}}system.qmin" type="text" name="system.qmin" value="{{system.qmin}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="{{item._id}}system.qmax" class="resource-label">{{localize "SW25.Max"}}</label>
          <input id="{{item._id}}system.qmax" type="text" name="system.qmax" value="{{system.qmax}}" data-dtype="Number"/>
        </div>
        <div class="grid-span-1"></div>
        <div class="resource">
          <label for="{{item._id}}system.price" class="resource-label">{{localize "SW25.Item.Price"}}</label>
          <input id="{{item._id}}system.price" type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    {{!--
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
    --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-2"  style="text-align: center;"><b>{{localize "SW25.Item.Resource.Battle"}}</b></label><br>
            <input id="{{item._id}}system.resource.isNotBattle" type="checkbox" name="system.resource.isNotBattle" data-dtype="Boolean" {{#if system.resource.isNotBattle}} checked {{/if}}/></span>
          <span class="grid-span-3" style="text-align: center;">
            <b>{{localize "SW25.Item.Resource.Type"}}</b><br>
            <select name="system.resource.type">
              {{#select system.resource.type}}
              <option value="none">{{localize "SW25.Item.Resource.Types.None"}}</option>
              <option value="note">{{localize "SW25.Item.Resource.Types.Note"}}</option>
              <option value="material">{{localize "SW25.Item.Resource.Types.Material"}}</option>
              <option value="lifeline">{{localize "SW25.Item.Resource.Types.Lifeline"}}</option>
              <option value="tacspower">{{localize "SW25.Item.Resource.Types.Tacspower"}}</option>
              <option value="abyssex">{{localize "SW25.Item.Resource.Types.AbyssEx"}}</option>
              {{/select}}
            </select>
          </span>
          <div class="grid-span-3" style="display: {{#if system.resource.isNote}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Note"}}</b><br>
            <select name="system.resource.notetype">
              {{#select system.resource.notetype}}
              <option value="up">{{localize "SW25.Item.Magicalsong.Up"}}</option>
              <option value="down">{{localize "SW25.Item.Magicalsong.Down"}}</option>
              <option value="charm">{{localize "SW25.Item.Magicalsong.Charm"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isMaterial}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Material"}}</b><br>
            <select name="system.resource.materialtype">
              {{#select system.resource.materialtype}}
              <option value="red">{{localize "SW25.Item.Alchemytech.Red"}}</option>
              <option value="green">{{localize "SW25.Item.Alchemytech.Green"}}</option>
              <option value="black">{{localize "SW25.Item.Alchemytech.Black"}}</option>
              <option value="white">{{localize "SW25.Item.Alchemytech.White"}}</option>
              <option value="gold">{{localize "SW25.Item.Alchemytech.Gold"}}</option>
              {{/select}}
            </select>
            <select name="system.resource.materialrank">
              {{#select system.resource.materialrank}}
              <option value="b">{{localize "SW25.Item.Alchemytech.B"}}</option>
              <option value="a">{{localize "SW25.Item.Alchemytech.A"}}</option>
              <option value="s">{{localize "SW25.Item.Alchemytech.S"}}</option>
              <option value="ss">{{localize "SW25.Item.Alchemytech.SS"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isLifeline}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.Lifeline"}}</b><br>
            <select name="system.resource.lifelinetype">
              {{#select system.resource.lifelinetype}}
              <option value="ten">{{localize "SW25.Item.Phasearea.Ten"}}</option>
              <option value="chi">{{localize "SW25.Item.Phasearea.Chi"}}</option>
              <option value="jin">{{localize "SW25.Item.Phasearea.Jin"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-3" style="display: {{#if system.resource.isAbyssEx}}block{{else}}none{{/if}}; text-align: center;">
            <b>{{localize "SW25.Item.Resource.Types.AbyssEx"}}</b><br>
            <select name="system.resource.abyssextype">
              {{#select system.resource.abyssextype}}
              <option value="deamonblood">{{localize "SW25.Item.Resource.Deamonblood"}}</option>
              <option value="deamoncrystal">{{localize "SW25.Item.Resource.Deamoncrystal"}}</option>
              <option value="deamoncrystalL">{{localize "SW25.Item.Resource.DeamoncrystalLarge"}}</option>
              <option value="abyssshard">{{localize "SW25.Item.Resource.Abyssshard"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="grid-span-2"></div>
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
