<form class="{{cssClass}}" autocomplete="off">
<section class="sw25item">
  <header class="header">
    <section class="header__img">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </section>
    <section class="header__title">
      <h1 class="charname">
        {{#if system.isEdit}}
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        {{else}}
          {{> "systems/sw25/templates/helper/action-marks.hbs"}}
          {{item.name}}
        {{/if}}
      </h1>
    </section>
    <section class="header__subtitle">
      <span class="header__subtitle--label">{{system.level}}{{localize "SW25.Level"}}{{localize "TYPES.Item.phasearea"}}</span>
      <div class="header__subtitle--overview">{{system.overview}}</div>
    </section>
    <section class="header__activate">
      <div class="header__checkbox">
        <input class="checkbox--hidden" id="{{item._id}}system.equip" type="checkbox" name="system.equip" data-dtype="Boolean" {{#if system.equip}} checked {{/if}}/>
        <label class="checkbox--label" for="{{item._id}}system.equip">{{localize "SW25.Item.Activation"}}</label>
      </div>
      <div class="header__checkbox">
        <input class="checkbox--hidden" id="{{item._id}}system.bookmark" type="checkbox" name="system.bookmark" data-dtype="Boolean" {{#if system.bookmark}} checked {{/if}}/>
        <label class="checkbox--label" for="{{item._id}}system.bookmark">{{localize "SW25.Item.Bookmark"}}</label>
      </div>
    </section>
    <section class="togglearea">
      <label class="togglearea__btn">
        <input id="{{item._id}}isEdit" type="checkbox" name="system.isEdit" {{#if system.isEdit}}checked{{/if}} data-dtype="Boolean"/>
        <div class="togglearea__btn--slider"><i class="fa-solid fa-wrench"></i></div>
      </label>
    </section>
  </header>

  <main class="main">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary" style="margin: 0px;">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <section class="tab" data-group="primary" data-tab="description" style="height: 100%;">
      <div class="grid grid-6col flex-group-left">
        <div class="grid-span-2 overview">
          <div class="overview--label">
            {{localize "SW25.Cost"}}
          </div>
          <div class="overview--value">
            {{system.mincost}}{{#unless (eq system.maxcost 0)}} - {{system.maxcost}}{{/unless}}
          </div>
        </div>
        <div class="grid-span-2 overview">
          <div class="overview--label">
            {{localize "SW25.Time"}}
          </div>
          <div class="overview--value">
            {{system.time}}
          </div>
        </div>
        <div class="grid-span-2 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Prop"}}
          </div>
          <div class="overview--value">
            {{localizeProp system.prop}}
          </div>
        </div>
        <div class="grid-span-6 overview">
          <div class="overview--label">
            {{localize "SW25.Item.Overview"}}
          </div>
          <div class="overview--value">
            {{system.overview}}
          </div>
        </div>
      </div>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </section>

    {{!-- Detail Tab --}}
    <section class="tab details" data-group="primary" data-tab="details">

      {{!-- Basic Category --}}
      <fieldset class="category flexrow grid grid-10col">
        <legend class="category__title">
          {{localize "SW25.Item.Field.Basic"}}
        </legend>
        <div class="grid-span-5 property">
          <label class="property--label">{{localize "SW25.Item.Clickitem"}}</label>
          <select class="property--value" name="system.clickitem"{{#unless system.isEdit}} disabled {{/unless}}>
            {{selectOptions clickitemOptions selected=system.clickitem localize=true}}
          </select>
        </div>
        <div class="blank"></div>
        <div class="grid-span-2">
          <input class="checkbox--hidden" id="{{item._id}}system.selfbuff" type="checkbox" name="system.selfbuff" data-dtype="Boolean" {{#if system.selfbuff}} checked {{/if}}{{#unless system.isEdit}} disabled {{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.selfbuff">{{localize "SW25.Item.Selfbuff"}}</label>
        </div>
        <div class="blank grid-span-2"></div>
        <div class="grid-span-10 property">
          <label class="property--label" for="{{item._id}}system.overview">{{localize "SW25.Item.Overview"}}</label>
          <input class="property--value" id="{{item._id}}system.overview" type="text" name="system.overview" value="{{system.overview}}" data-dtype="String"{{#unless system.isEdit}} disabled {{/unless}}/>
        </div>
      </fieldset>

      {{!-- Phasearea Category --}}
      <fieldset class="category flexrow grid grid-10col">
        <legend class="category__title">
          {{localize "SW25.Item.Field.Phasearea"}}
        </legend>
        <div class="grid-span-2 property">
          <label class="property--label" for="{{item._id}}system.level">{{localize "SW25.Level"}}</label>
          <input class="property--value" id="{{item._id}}system.level" type="text" name="system.level" value="{{system.level}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
        </div>
        <div class="grid-span-5 property">
          <label class="property--label" for="{{item._id}}system.time">{{localize "SW25.Time"}}</label>
          <input class="property--value" id="{{item._id}}system.time" type="text" name="system.time" value="{{system.time}}" data-dtype="String"{{#unless system.isEdit}} disabled {{/unless}}/>
        </div>
        <div class="grid-span-3 property">
          <label class="property--label">{{localize "SW25.Item.Prop"}}</label>
          <select class="property--value" name="system.prop"{{#unless system.isEdit}} disabled {{/unless}}>
            {{selectOptions config.phaseareaProps selected=system.prop localize=true blank="-"}}
          </select>
        </div>
        <div class="grid-span-2"></div>

        {{!-- Timing Category --}}
        <fieldset class="subcategory flexrow grid grid-10col">
          <legend class="category__title">
            {{localize "SW25.Item.Field.Timing"}}
          </legend>
          <div class="timing grid-span-2">
            <input class="checkbox--hidden" id="{{item._id}}system.constant" type="checkbox" name="system.constant" data-dtype="Boolean" {{#if system.constant}} checked {{/if}} disabled/>
            <label class="checkbox--label" for="{{item._id}}system.constant">{{localize "SW25.Item.Constant"}}</label>
          </div>
          <div class="timing grid-span-2">
            <input class="checkbox--hidden" id="{{item._id}}system.main" type="checkbox" name="system.main" data-dtype="Boolean" {{#if system.main}} checked {{/if}} disabled/>
            <label class="checkbox--label" for="{{item._id}}system.main">{{localize "SW25.Item.Main"}}</label>
          </div>
          <div class="timing grid-span-2">
            <input class="checkbox--hidden" id="{{item._id}}system.aux" type="checkbox" name="system.aux" data-dtype="Boolean" {{#if system.aux}} checked {{/if}} checked disabled/>
            <label class="checkbox--label" for="{{item._id}}system.aux">{{localize "SW25.Item.Aux"}}</label>
          </div>
          <div class="timing grid-span-2">
            <input class="checkbox--hidden" id="{{item._id}}system.prep" type="checkbox" name="system.prep" data-dtype="Boolean" {{#if system.prep}} checked {{/if}} disabled/>
            <label class="checkbox--label" for="{{item._id}}system.prep">{{localize "SW25.Item.Prep"}}</label>
          </div>
          <div class="timing grid-span-2">
            <input class="checkbox--hidden" id="{{item._id}}system.decla" type="checkbox" name="system.decla" data-dtype="Boolean" {{#if system.decla}} checked {{/if}} disabled/>
            <label class="checkbox--label" for="{{item._id}}system.decla">{{localize "SW25.Item.Declaabbr"}}</label>
          </div>
        </fieldset>
        
        {{!-- Resource Category --}}
        <fieldset class="subcategory grid-span-5 flexrow grid grid-5col">
          <legend class="category__title">
            {{localize "SW25.Item.Field.Resource"}}({{localize "SW25.Item.Phasearea.Point"}})
          </legend>
          <div class="grid-span-2 property">
            <label class="property--label">{{localize "TYPES.Item.phasearea"}}</label>
            <select class="property--value" name="system.type"{{#unless system.isEdit}} disabled {{/unless}}>
              {{selectOptions config.phaseareaTypes selected=system.type localize=true blank="-"}}
            </select>
          </div>
          <div class="grid-span-3 property">
            <input class="property--value" type="text" name="system.mincost" value="{{system.mincost}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
            -
            <input class="property--value" type="text" name="system.maxcost" value="{{system.maxcost}}" data-dtype="Number"{{#unless system.isEdit}} disabled {{/unless}}/>
          </div>
        </fieldset>
      </fieldset>

      {{!-- Use-dice Category --}}
      <fieldset class="category">
        <legend class="category__title">
          <input class="checkbox--hidden" id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}{{#unless system.isEdit}} disabled {{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.usedice">{{localize "SW25.Item.Usedice"}}</label>
        </legend>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}

        {{!-- Resist Category --}}
        <fieldset class="subcategory flexrow grid grid-10col">
          <legend class="category__title">
            {{localize "SW25.Item.Field.Resist"}}
          </legend>
          <div class="grid-span-3 property">
            <label class="property--label" for="{{item._id}}system.resistinfo.type">{{localize "SW25.Item.Resisttype"}}</label>
            <select class="property--value" name="system.resistinfo.type"{{#unless system.isEdit}} disabled {{/unless}}>
              {{selectOptions config.resistCheck selected=system.resistinfo.type localize=true blank="-"}}
            </select>
          </div>
          {{#if (eq system.resistinfo.type "input")}}
          <div class="grid-span-2 property">
            <input class="property--value" id="{{item._id}}system.resistinfo.input" type="text" name="system.resistinfo.input" value="{{system.resistinfo.input}}" data-dtype="String" style="display: {{#if system.resistinfo.type}}block{{else}}none{{/if}};"{{#unless system.isEdit}} disabled {{/unless}}/>
          </div>
          {{/if}}
          <div class="blank"></div>
          <div class="grid-span-2 property">
            <label class="property--label" for="{{item._id}}system.resistinfo.result">{{localize "SW25.Item.Resist"}}</label>
            <select class="property--value" name="system.resistinfo.result"{{#unless system.isEdit}} disabled {{/unless}}>
              {{selectOptions config.resistResult selected=system.resistinfo.result localize=true blank="-"}}
            </select>
          </div>
        </fieldset>
        </div>
      </fieldset>

      {{!-- Use-power Category --}}
      <fieldset class="category">
        <legend class="category__title">
          <input class="checkbox--hidden" id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}{{#unless system.isEdit}} disabled {{/unless}}/>
          <label class="checkbox--label" for="{{item._id}}system.usepower">{{localize "SW25.Item.Usepower"}}</label>
        </legend>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </fieldset>
    </section>
    {{!-- Effects Tab --}}
    <section class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </section>
  </main>
</section>
</form>