<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-left nogapmargin">
        <div class="grid-span-2">
          {{#if system.constant}}○{{/if}}{{#if system.main}}▶{{/if}}{{#if system.aux}}≫{{/if}}{{#if system.prep}}△{{/if}}
        </div>
        <div class="grid-span-3">
          <b>{{system.race}}{{localize "TYPES.Item.barbarousskill"}}</b>
        </div>
        <div class="grid-span-1"></div>
        <div class="grid-span-4">
          <b>{{localize "SW25.Item.BarbarousSkill.Base"}} : </b>{{system.base}} 
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.BarbarousSkill.ResistBase"}} : </b>{{system.resistbase}} 
        </div>
        <div class="grid-span-2">
          {{#if system.rank}}<b>{{localize "SW25.Item.Rank"}} : </b>{{system.rank}} {{/if}}
        </div>
        <div class="grid-span-2">
          <b>MP{{localize "SW25.Cost"}} : </b>{{system.basempcost}}
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Resist"}} : </b>{{system.resistname}} 
        </div>
        <div class="grid-span-6">
          <b>{{localize "SW25.Item.Overview"}} : </b>{{system.overview}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Clickitem"}}</b><br>
            <select name="system.clickitem">
              {{#select system.clickitem}}
              <option value="all">{{localize "SW25.Item.All"}}</option>
              <option value="power">{{localize "SW25.Item.Powerroll"}}</option>
              <option value="dice">{{localize "SW25.Item.Diceroll"}}</option>
              <option value="mpcost">{{localize "SW25.Mp"}}{{localize "SW25.Cost"}}</option>
              <option value="description">{{localize "SW25.Item.Onlydescription"}}</option>
              {{/select}}
            </select>
          </span>
          <div class="grid-span-3"></div>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.usedice"><b>{{localize "SW25.Item.Usedice"}}</b></label><br>
            <input id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.usepower"><b>{{localize "SW25.Item.Usepower"}}</b></label><br>
            <input id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}/></span>
        </div>
        <div class="flexrow grid grid-10col">
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.constant"><b>{{localize "SW25.Item.Constant"}}</b></label><br>
            <input id="{{item._id}}system.constant" type="checkbox" name="system.constant" data-dtype="Boolean" {{#if system.constant}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.main"><b>{{localize "SW25.Item.Main"}}</b></label><br>
            <input id="{{item._id}}system.main" type="checkbox" name="system.main" data-dtype="Boolean" {{#if system.main}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.aux"><b>{{localize "SW25.Item.Aux"}}</b></label><br>
            <input id="{{item._id}}system.aux" type="checkbox" name="system.aux" data-dtype="Boolean" {{#if system.aux}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.prep"><b>{{localize "SW25.Item.Prep"}}</b></label><br>
            <input id="{{item._id}}system.prep" type="checkbox" name="system.prep" data-dtype="Boolean" {{#if system.prep}} checked {{/if}}/></span>
          <span class="grid-span-2"></span>
          <span class="grid-span-3" style="text-align: center;"><label for="{{item._id}}system.race"><b>{{localize "SW25.Race"}}</b></label><br>
            <input id="{{item._id}}system.race" style="max-width: calc(90% - 7px);" type="text" name="system.race" value="{{system.race}}" data-dtype="String"/></span>
          <span class="grid-span-7" style="text-align: center;"><label for="{{item._id}}system.base"><b>{{localize "SW25.Item.BarbarousSkill.Base"}}</b></label><br>
            <input id="{{item._id}}system.base" style="max-width: calc(90% - 7px);" type="text" name="system.base" value="{{system.base}}" data-dtype="String"/></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Rank"}}</b><br>
            <select name="system.rank">
              {{#select system.rank}}
              <option value="">-</option>
              <option value="B">B</option>
              <option value="A">A</option>
              <option value="S">S</option>
              <option value="SS">SS</option>
              {{/select}}
            </select>
          </span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.basempcost"><b>MP{{localize "SW25.Cost"}}</b></label><br>
            <input id="{{item._id}}system.basempcost" style="max-width: calc(50% - 7px);" type="text" name="system.basempcost" value="{{system.basempcost}}" data-dtype="Number"/></span>
          <span class="grid-span-1"></span>
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Resist"}}</b><br>
            <select name="system.resist">
              {{#select system.resist}}
              <option value="-">-</option>
              <option value="decide">{{localize "SW25.Item.Decide"}}</option>
              <option value="any">{{localize "SW25.Item.Any"}}</option>
              <option value="none">{{localize "SW25.Item.None"}}</option>
              <option value="disappear">{{localize "SW25.Item.Disappear"}}</option>
              <option value="halving">{{localize "SW25.Item.Halving"}}</option>
              <option value="shortening">{{localize "SW25.Item.Shortening"}}</option>
              {{/select}}
            </select>
          </span>
          <span class="grid-span-3" style="text-align: center;"><label for="{{item._id}}system.resistbase"></label><b>{{localize "SW25.Item.BarbarousSkill.ResistBase"}}</b><br>
            <input id="{{item._id}}system.resistbase" style="max-width: calc(90% - 7px);" type="text" name="system.resistbase" value="{{system.resistbase}}" data-dtype="String"/></span>
          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.overview"></label><b>{{localize "SW25.Item.Overview"}}</b><br>
            <input id="{{item._id}}system.overview" type="text" name="system.overview" value="{{system.overview}}" data-dtype="String"/></span>
        </div>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}
        </div>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
