<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-6col flex-group-left nogapmargin">
        <div class="grid-span-2">
          {{> "systems/sw25/templates/helper/action-marks.hbs"}}
        </div>
        <div class="grid-span-2">
          <b>{{system.level}}{{localize "SW25.Level"}}{{system.typename}}</b>
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Tactics.Tacspower"}}{{localize "SW25.Cost"}} : </b>{{system.cost}}
        </div>
        {{#if (eq system.type "drum")}}
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Tactics.Line"}} : </b>{{system.linename}}
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Tactics.Rank"}} : </b>{{system.rank}}
        </div>
        <div class="grid-span-2">
          <b>{{localize "SW25.Item.Tactics.Tacspower"}}{{localize "SW25.Item.Tactics.Get"}} : </b>{{system.get}}
        </div>
        {{/if}}
        {{#if (eq system.type "camp")}}
        <div class="grid-span-3">
          <b>{{localize "SW25.Item.Tactics.Premise"}} : </b>{{system.premise}}
        </div>
        <div class="grid-span-3">
          <b>{{localize "SW25.Condition"}} : </b>{{system.cond}}
        </div>
        {{/if}}
        <div class="grid-span-6">
          <b>{{localize "SW25.Item.Overview"}} : </b>{{system.overview}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SW25.Description"}}</a>
    <a class="item" data-tab="details">{{localize "SW25.Details"}}</a>
    <a class="item" data-tab="effects">{{localize "SW25.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Detail Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="flexcol">
        <div class="flexrow grid grid-10col nogapmargin">
          <span class="grid-span-3" style="text-align: center;"><b>{{localize "SW25.Item.Clickitem"}}</b><br>
            <select name="system.clickitem">
              {{#select system.clickitem}}
              <option value="all">{{localize "SW25.Item.All"}}</option>
              <option value="power">{{localize "SW25.Item.Powerroll"}}</option>
              <option value="dice">{{localize "SW25.Item.Diceroll"}}</option>
              <option value="description">{{localize "SW25.Item.Onlydescription"}}</option>
              {{/select}}
            </select>
          </span>
          <div></div>
          <span style="text-align: center;"><label for="{{item._id}}system.equip"><b>{{localize "SW25.Item.Activation"}}</b></label><br>
            <input id="{{item._id}}system.equip" type="checkbox" name="system.equip" data-dtype="Boolean" {{#if system.equip}} checked {{/if}}/></span>
          <span style="text-align: center;"><label for="{{item._id}}system.selfbuff"><b>{{localize "SW25.Item.Selfbuff"}}</b></label><br>
            <input id="{{item._id}}system.selfbuff" type="checkbox" name="system.selfbuff" data-dtype="Boolean" {{#if system.selfbuff}} checked {{/if}}/></span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.usedice"><b>{{localize "SW25.Item.Usedice"}}</b></label><br>
            <input id="{{item._id}}system.usedice" type="checkbox" name="system.usedice" data-dtype="Boolean" {{#if system.usedice}} checked {{/if}}/></span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.usepower"><b>{{localize "SW25.Item.Usepower"}}</b></label><br>
            <input id="{{item._id}}system.usepower" type="checkbox" name="system.usepower" data-dtype="Boolean" {{#if system.usepower}} checked {{/if}}/></span>
        </div>
        <div class="flexrow grid grid-10col">
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "TYPES.Item.tactics"}}</b><br>
            <select name="system.type">
              {{#select system.type}}
              <option value="-">-</option>
              <option value="drum">{{localize "SW25.Item.Tactics.Drum"}}</option>
              <option value="camp">{{localize "SW25.Item.Tactics.Camp"}}</option>
              {{/select}}
            </select>
          </span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.aux"><b>{{localize "SW25.Item.Aux"}}</b></label><br>
            <input id="{{item._id}}system.aux" type="checkbox" name="system.aux" data-dtype="Boolean" {{#if system.aux}} checked {{/if}}/></span>
          <span class="grid-span-2"  style="text-align: center;"><label for="{{item._id}}system.prep"><b>{{localize "SW25.Item.Prep"}}</b></label><br>
            <input id="{{item._id}}system.prep" type="checkbox" name="system.prep" data-dtype="Boolean" {{#if system.prep}} checked {{/if}}/></span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.level"><b>{{localize "SW25.Level"}}</b></label><br>
            <input id="{{item._id}}system.level" style="max-width: calc(50% - 7px);" type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/></span>          
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.cost"><b>{{localize "SW25.Item.Tactics.Tacspower"}}{{localize "SW25.Cost"}}</b></label><br>
            <input id="{{item._id}}system.cost" style="max-width: calc(50% - 7px);" type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/></span>
          {{#if (eq system.type "drum")}}
          <span class="grid-span-2" style="text-align: center;"><b>{{localize "SW25.Item.Tactics.Line"}}</b><br>
            <select name="system.line">
              {{#select system.line}}
              <option value="-">-</option>
              <option value="attack">{{localize "SW25.Item.Tactics.Attack"}}</option>
              <option value="dodge">{{localize "SW25.Item.Tactics.Dodge"}}</option>
              <option value="deffence">{{localize "SW25.Item.Tactics.Deffence"}}</option>
              <option value="resist">{{localize "SW25.Item.Tactics.Resist"}}</option>
              <option value="inspire">{{localize "SW25.Item.Tactics.Inspire"}}</option>
              {{/select}}
            </select>
          </span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.rank"><b>{{localize "SW25.Item.Tactics.Rank"}}</b></label><br>
            <input id="{{item._id}}system.rank" style="max-width: calc(50% - 7px);" type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/></span>
          <span class="grid-span-2" style="text-align: center;"><label for="{{item._id}}system.get"><b>{{localize "SW25.Item.Tactics.Tacspower"}}{{localize "SW25.Item.Tactics.Get"}}</b></label><br>
            <input id="{{item._id}}system.get" style="max-width: calc(50% - 7px);" type="text" name="system.get" value="{{system.get}}" data-dtype="Number"/></span>
          <span class="grid-span-4"></span>
          {{/if}}
          {{#if (eq system.type "camp")}}
          <span class="grid-span-5" style="text-align: left;"><label for="{{item._id}}system.premise"><b>{{localize "SW25.Item.Tactics.Premise"}}</b></label><br>
            <input id="{{item._id}}system.premise" type="text" name="system.premise" value="{{system.premise}}" data-dtype="String"/></span>
          <span class="grid-span-5" style="text-align: left;"><label for="{{item._id}}system.cond"><b>{{localize "SW25.Condition"}}</b></label><br>
            <input id="{{item._id}}system.cond" type="text" name="system.cond" value="{{system.cond}}" data-dtype="String"/></span>
          {{/if}}
          <span class="grid-span-10" style="text-align: left;"><label for="{{item._id}}system.overview"><b>{{localize "SW25.Item.Overview"}}</b></label><br>
            <input id="{{item._id}}system.overview" type="text" name="system.overview" value="{{system.overview}}" data-dtype="String"/></span>        </div>
        <div style="display: {{#if system.usedice}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usedice.hbs"}}
        </div>
        <div style="display: {{#if system.usepower}}block{{else}}none{{/if}};">
          {{> "systems/sw25/templates/item/parts/item-usepower.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/sw25/templates/item/parts/item-effects.hbs"}}
    </div>

  </section>
</form>
